<template>
  <footer class="bg-gray-800 text-white">
    <div class="container mx-auto py-8 px-4 flex flex-col md:flex-row justify-between">
      <!-- Left side menu -->

      <div class="flex flex-row flex-col flex-wrap mb-4">
        <router-link to="/review" class="block mb-2 hover:text-blue-500">
          <span class="mr-2">&#8226;</span> Отзывы
        </router-link>
        <router-link to="/management" class="block mb-2 hover:text-blue-500">
          <span class="mr-2">&#8226;</span> Руководство
        </router-link>
        <router-link to="/applicationscreate" class="block mb-2 hover:text-blue-500">
          <span class="mr-2">&#8226;</span> Контакты
        </router-link>
        <router-link to="/history" class="block hover:text-blue-500">
          <span class="mr-2">&#8226;</span> История
        </router-link>
      </div>

      <!-- Right side contact information -->
      <div class="md:ml-auto">
        <h4 class="font-bold mb-2">Контактная информация</h4>
        <p class="mb-4">ул. Летняя стр.12, офис 512</p>
        <p class="mb-4">8 (495) 212-85-06</p>
        <p class="mb-4"><strong>Время работы:</strong></p>
        <p class="mb-4">ежедневно с 9-00 до 18-00</p>
      </div>
    </div>
    <div class="bg-gray-700 py-4 text-center">
      <div class="container mx-auto">
        <p class="text-sm">&copy; 2000 - 2012 "Мебельный магазин"</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterMenu'
}
</script>
<style scoped>
@media screen and (max-width: 768px) {
  footer {
    display: none; /* Скрыть футер на мобильных устройствах */
  }
}
footer {
  width: 100%; /* Занимает всю доступную ширину */
}
</style>
