<template>
  <div class="sidebar">
    <ul>
      <li :class="{ active: $route.path === '/partners' }">
        <router-link to="/partners">Партнёрам</router-link>
      </li>
      <li :class="{ active: $route.path === '/blogs' }">
        <router-link to="/blogs">События</router-link>
      </li>
      <li :class="{ active: $route.path === '/partnernew' }">
        <router-link to="/partnernew">Как стать партнером</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'LeftParner'
}
</script>

<style scoped>
.sidebar {
  width: 200px;
  background-color: #2b86c5;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

.active {
  background-color: #70f770;
}

router-link {
  text-decoration: none;
  color: white;
}

router-link:hover {
  background-color: #70f770;
}
</style>
