<template>
  <div class="sidebar">
    <ul>
      <li :class="{ active: $route.path === '/company' }">
        <router-link to="/company">О компании</router-link>
      </li>
      <li :class="{ active: $route.path === '/history' }">
        <router-link to="/history">История</router-link>
      </li>
      <li :class="{ active: $route.path === '/management' }">
        <router-link to="/management">Руководство</router-link>
      </li>
      <li :class="{ active: $route.path === '/job' }">
        <router-link to="/job">Вакансии</router-link>
      </li>
      <li :class="{ active: $route.path === '/mission' }">
        <router-link to="/mission">Миссия и стратегия</router-link>
      </li>
      <li :class="{ active: $route.path === '/review' }">
        <router-link to="/review">Отзывы</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'LeftCompany'
}
</script>

<style scoped>
.sidebar {
  width: 200px;
  background-color: #2b86c5;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

.active {
  background-color: #70f770;
}

router-link {
  text-decoration: none;
  color: white;
}

router-link:hover {
  background-color: #70f770;
}
</style>
