@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #ffffff; /* Белый фон */
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: moveAndChangeColor 15s infinite linear;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.226);
}

.circle:nth-child(1) {
  background-color: #a1e239;
  left: 80%;
  padding: 5px;
}

.circle:nth-child(2) {
  background-color: #9e6509;
  top: 60%;
  left: 60%;
  padding: 5px;
}

.circle:nth-child(3) {
  background-color: #bd1c72;
  top: 30%;
  left: 70%;
  padding: 5px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveAndChangeColor {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  0%,
  10% {
    background-color: #ffcb77;
  }
  20%,
  30% {
    background-color: #fafafa;
  }
  40%,
  50% {
    background-color: #bd1c72;
  }
  60%,
  70% {
    background-color: #ffcb77;
  }
  80%,
  90% {
    background-color: #a6ffad;
  }
}
