<template>
  <div>
    <h2>Добавить новость</h2>
    <form @submit.prevent="addNews">
      <div>
        <label for="title">Заголовок:</label>
        <input type="text" id="title" v-model="title" required />
      </div>
      <div>
        <label for="content">Содержание:</label>
        <textarea id="content" v-model="content" required></textarea>
      </div>
      <div>
        <label for="created_at">Дата создания:</label>
        <input type="date" id="created_at" v-model="created_at" required />
      </div>
      <div>
        <label for="author_id">Идентификатор автора:</label>
        <input type="number" id="author_id" v-model.number="author_id" required />
      </div>
      <div>
        <button type="submit">Добавить новость</button>
      </div>
    </form>
  </div>
</template>

<script>
import api from '../../api.js'
export default {
  data() {
    return {
      title: '',
      content: '',
      created_at: '',
      author_id: null
    }
  },
  methods: {
    async addNews() {
      try {
        const response = await api.post('/news', {
          title: this.title,
          content: this.content,
          created_at: this.created_at,
          author_id: this.author_id
        })

        if (response.status == 201) {
          // Новость успешно добавлена
          alert('Новость успешно добавлена')
          // Очистить поля формы
          this.title = ''
          this.content = ''
          this.created_at = ''
          this.author_id = null
        } else {
          // Обработать ошибочный ответ
          const errorMessage = await response.data
          throw new Error(errorMessage)
        }
      } catch (error) {
        console.error('Ошибка при добавлении новости:', error)
        alert('Не удалось добавить новость. Пожалуйста, попробуйте снова.')
      }
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
h2 {
  color: #41b883; /* Светло-зелёный */
  margin-bottom: 20px;
}

form {
  max-width: 400px;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #35495e; /* Тёмнозелёный */
}

input[type='text'],
textarea,
input[type='date'],
input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #41b883; /* Светло-зелёный */
  border-radius: 5px;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #41b883; /* Светло-зелёный */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #32a672; /* Тёмнозелёный */
}

.alert {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d7da; /* Красный */
  border: 1px solid #f5c6cb; /* Тёмно-красный */
  border-radius: 5px;
  color: #721c24; /* Тёмно-красный */
}
</style>
