<template>
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold my-8">Обновление новости</h2>
    <button
      @click="goBack"
      class="mb-4 bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
    >
      Назад
    </button>
    <form @submit.prevent="updateNews" class="max-w-md mx-auto">
      <div class="mb-4">
        <label for="title" class="block mb-2">Заголовок:</label>
        <input
          type="text"
          id="title"
          v-model="formData.title"
          required
          class="w-full border rounded px-3 py-2"
        />
      </div>
      <div class="mb-4">
        <label for="content" class="block mb-2">Содержание:</label>
        <textarea
          id="content"
          v-model="formData.content"
          required
          class="w-full border rounded px-3 py-2"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="author_id" class="block mb-2">Автор:</label>
        <select
          id="author_id"
          v-model="formData.author_id"
          required
          class="w-full border rounded px-3 py-2"
        >
          <option v-for="user in users" :key="user.user_id" :value="user.user_id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label for="image" class="block mb-2">Изображение:</label>
        <input type="file" id="image" @change="handleImageChange" accept="image/*" class="w-full" />
      </div>
      <div class="mb-4">
        <label for="created_at" class="block mb-2">Дата создания:</label>
        <input
          type="text"
          id="created_at"
          v-model="formData.created_at"
          readonly
          class="w-full border rounded px-3 py-2"
        />
      </div>

      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Обновить новость
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const formData = ref({
  title: '',
  content: '',
  author_id: '',
  image: null,
  created_at: ''
})
const users = ref([]) // Переменная для хранения списка пользователей

const router = useRouter()
const route = useRoute()

const updateNews = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.put(`/news/${route.params.news_id}`, formDataCopy)
    if (response.status === 200) {
      alert('Новость успешно обновлена')
      router.push(`/news/${route.params.news_id}`)
    } else {
      throw new Error('Ошибка при обновлении новости')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при обновлении новости')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

const goBack = () => {
  router.go(-1)
}

onMounted(async () => {
  try {
    // Получение данных о новости
    const newsResponse = await api.get(`/news/${route.params.news_id}`)
    if (newsResponse.status === 200) {
      const newsData = newsResponse.data
      formData.value.title = newsData.title
      formData.value.content = newsData.content
      formData.value.author_id = newsData.author_id
      formData.value.created_at = newsData.created_at
    } else {
      throw new Error('Ошибка при получении данных о новости')
    }

    // Получение списка пользователей
    const usersResponse = await api.get('/user')
    if (usersResponse.status === 200) {
      users.value = usersResponse.data
    } else {
      throw new Error('Ошибка при получении списка пользователей')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке данных')
  }
})
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
