<template>
  <div class="container mx-auto px-4 py-8">
    <div class="max-w-lg mx-auto">
      <h2 class="text-2xl font-bold my-8" v-if="selectedNews">{{ selectedNews.title }}</h2>
      <div v-if="selectedNews">
        <div class="flex items-center flex-wrap">
          <div class="mr-4">
            <img
              v-if="image_url"
              :src="image_url"
              alt="Изображение новости"
              class="border border-gray-300 rounded-md w-64 h-64"
            />
            <img
              v-else
              src="/static/novosti.png"
              alt="Изображение по умолчанию"
              class="border border-gray-300 rounded-md w-64 h-64"
            />
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <p class="text-gray-700">Дата: {{ formatDate(selectedNews.created_at) }}</p>
              <p v-if="authorNames[selectedNews.author_id]" class="text-gray-700 ml-4">
                Автор: {{ authorNames[selectedNews.author_id] }}
              </p>
            </div>
            <p class="text-gray-700 mt-2">{{ selectedNews.content }}</p>
          </div>
        </div>
        <div class="mt-4 space-x-4">
          <div class="mt-4 space-x-4">
            <button
              @click="editNews"
              v-if="isRoleValidVisible"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
              Редактировать новость
            </button>
            <button
              @click="showDeleteModal = true"
              v-if="isRoleValidVisible"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            >
              Удалить новость
            </button>
            <button
              @click="goToNewsList"
              class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
            >
              Назад к списку новостей
            </button>
          </div>
        </div>
      </div>
      <div v-else>
        <p>Новость загружается...</p>
      </div>
    </div>
    <!-- Модальное окно удаления новости -->
    <div
      v-if="showDeleteModal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="bg-white p-6 rounded-lg">
        <p class="text-lg">Вы уверены, что хотите удалить эту новость?</p>
        <div class="mt-4 flex justify-end">
          <button
            @click="cancelDelete"
            class="px-4 py-2 mr-2 bg-gray-300 hover:bg-gray-400 rounded"
          >
            Отмена
          </button>
          <button
            @click="deleteCurrentNews"
            class="px-4 py-2 bg-red-500 hover:bg-red-600 text-white rounded"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const selectedNews = ref(null)
const authorNames = ref({})
const image_url = ref(null)
const newsList = ref([]) // Создаем реактивную переменную для списка новостей

const router = useRouter()
const route = useRoute()
const isRoleValidVisible = ref(false)
const showDeleteModal = ref(false)

const isRoleValid = async () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}
const checkRoleValidity = async () => {
  isRoleValidVisible.value = await isRoleValid()
}

checkRoleValidity()
const fetchNewsDetails = async () => {
  try {
    const news_id = route.params.news_id
    if (!news_id) {
      console.error('news_id не определен в параметрах маршрута')
      return
    }
    const response = await api.get(`/news/${news_id}`)
    if (response.status === 200) {
      selectedNews.value = response.data
      await fetchAuthorName(response.data.author_id)
      loadImage(response.data.image_url)
    } else {
      throw new Error('Ошибка при загрузке данных о новости')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchAuthorName = async (authorId) => {
  try {
    console.log(`Получение имени пользователя с идентификатором ${authorId}`)
    const response = await api.get(`/user/${authorId}`)
    if (response.status === 200) {
      console.log(`Имя пользователя с идентификатором ${authorId} успешно получено`)
      authorNames.value[authorId] = response.data.username
    } else {
      console.error(`Ошибка при получении имени пользователя с идентификатором ${authorId}`)
    }
  } catch (error) {
    console.error(error)
  }
}

const loadImage = (imageUrl) => {
  const img = new Image()
  img.onload = () => {
    image_url.value = api.getUri() + '/static/' + imageUrl
  }
  img.onerror = () => {
    image_url.value = '/static/novosti.png'
  }
  img.src = api.getUri() + '/static/' + imageUrl
}

const formatDate = (dateString) => {
  const options = { day: 'numeric', month: 'long', year: 'numeric' }
  const date = new Date(dateString)
  return date.toLocaleDateString('ru-RU', options)
}

const goToNewsList = () => {
  router.push('/news') // Перенаправление на страницу списка новостей
}

const editNews = () => {
  router.push({ name: 'NewsUpdate', params: { news_id: route.params.news_id } })
}

const deleteCurrentNews = async () => {
  try {
    const news_id = route.params.news_id
    console.log('ID новости для удаления:', news_id) // Выводим news_id в консоль
    const response = await api.delete(`/news/${news_id}`)
    if (response.status === 200) {
      router.push('/news') // Перенаправление на страницу списка новостей
    } else {
      throw new Error('Ошибка при удалении новости')
    }
  } catch (error) {
    console.error(error)
    router.push('/news') // Перенаправление на страницу списка новостей в случае ошибки
  }
}

onMounted(async () => {
  await fetchNewsDetails()
})

const cancelDelete = () => {
  showDeleteModal.value = false
}
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
</style>
