<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftPartner />
    </div>
    <div class="content md:ml-4 md:mr-4">
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h1 class="text-center text-2xl font-bold">Стать партнёром</h1>
      </header>
      <main class="p-4">
        <div class="max-w-4xl mx-auto">
          <p class="mt-4 text-lg indent-8">
            Приветствуем тебя в нашей команде! Если ты хочешь стать нашим партнёром, следуй простым
            шагам:
          </p>
          <ol class="list-decimal mt-4 ml-6 text-lg">
            <li>
              Изучи нашу компанию и продукцию. Понимание наших ценностей и принципов поможет нам
              успешно сотрудничать.
            </li>
            <li>
              Свяжись с нами! Расскажи о себе, своём бизнесе и почему хочешь стать нашим партнёром.
              Мы всегда рады новым знакомствам!
            </li>
            <li>
              Предложи идеи и решения, как мы можем вместе развивать наше партнёрство. Воплощай свою
              креативность и энергию!
            </li>
            <li>
              Обсудим условия сотрудничества и разработаем план действий. Вместе мы сможем достичь
              больших успехов!
            </li>
          </ol>
          <p class="mt-4 text-lg indent-8">
            Мы стремимся к построению долгосрочных и взаимовыгодных отношений с нашими партнёрами.
            Наша команда готова поддерживать вас на каждом этапе сотрудничества и вместе достигать
            новых вершин в вашем бизнесе.
          </p>
          <p class="mt-4 text-lg indent-8">
            Не стесняйся обращаться к нам с любыми вопросами или предложениями. Мы всегда открыты к
            диалогу и готовы сделать всё возможное для успешного сотрудничества.
          </p>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import LeftPartner from '@/modules/leftmenu/LeftPartner.vue'
export default {
  components: {
    LeftPartner
  }
}
</script>

<style scoped>
/* Нет необходимости в пользовательских стилях */
</style>
