<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <!-- Левое меню -->
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftPartner />
    </div>
    <!-- Основное содержимое -->
    <div class="terms flex-1">
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h1 class="text-center text-2xl font-bold">Условия Сотрудничества</h1>
      </header>
      <main class="p-4">
        <div class="max-w-4xl mx-auto">
          <h2 class="text-lg font-semibold mb-2 text-center">1. Зарегистрироваться на сайте</h2>
          <p class="mb-4 indent-8">
            Оставьте свою анкету на сайте, вы получаете свой аккаунт (логин), под которым в
            дальнейшем будете управлять карточкой партнера, оформлять заказы с партнерской скидкой,
            получите доступ к закрытым разделам партнерского сайта и форуму.
          </p>
          <p class="mb-8 indent-8">
            Авторизуясь на сайте как партнер, вы получите возможность обращаться в нашу техническую
            поддержку с повышенным приоритетом.
          </p>

          <h2 class="text-lg font-semibold mb-2 text-center">2. Заполнить анкету партнера</h2>
          <p class="mb-4 indent-8">
            На основании данных из анкеты партнера мы принимаем решение о возможности установления
            партнерских отношений. Мы также хотели бы видеть ваш полноценный работающий
            корпоративный сайт с указанием ваших контактов и перечнем предлагаемых услуг.
            Партнерская программа предназначена для студий дизайна, разработчиков сайтов,
            интеграторов и всех тех, кто профессионально занимается разработкой веб-решений для
            конечных клиентов.
          </p>
          <p class="mb-8 indent-8">
            После проверки анкеты с нашей стороны вы сразу получаете возможность оформлять заказы с
            партнерской скидкой.
          </p>

          <h2 class="text-lg font-semibold mb-2 text-center">
            3. Выслать подписанный бумажный договор по почте
          </h2>
          <p class="mb-8 indent-8">
            После того как ваша анкета будет одобрена, вам придет уведомление на ваш e-mail о начале
            сотрудничества. После этого вам нужно подписать бумажный договор с нашей компанией. Вам
            потребуется заполнить реквизиты, распечатать два экземпляра договора, подписать со своей
            стороны и выслать на адрес нашей компании. Мы, со своей стороны, подпишем договор и
            отправим один экземпляр вам.
          </p>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import LeftPartner from '@/modules/leftmenu/LeftPartner.vue'
export default {
  components: {
    LeftPartner
  }
}
</script>

<style>
/* Нет необходимости в пользовательских стилях */
</style>
