<template>
  <div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-4">Создание нового отзыва</h2>
    <form @submit.prevent="createReview" class="space-y-4">
      <div>
        <label for="review_text" class="block font-semibold">Текст отзыва:</label>
        <textarea
          id="review_text"
          v-model="newReview.review_text"
          required
          class="w-full border border-gray-300 rounded-md p-2"
        ></textarea>
      </div>
      <div>
        <label for="review_date" class="block font-semibold">Дата отзыва:</label>
        <input
          type="date"
          id="review_date"
          v-model="newReview.review_date"
          required
          class="w-full border border-gray-300 rounded-md p-2"
        />
      </div>
      <div>
        <label for="position_name" class="block font-semibold">Название должности:</label>
        <input
          type="text"
          id="position_name"
          v-model="newReview.position_name"
          required
          class="w-full border border-gray-300 rounded-md p-2"
        />
      </div>
      <div>
        <label for="company_name" class="block font-semibold">Название компании:</label>
        <input
          type="text"
          id="company_name"
          v-model="newReview.company_name"
          required
          class="w-full border border-gray-300 rounded-md p-2"
        />
      </div>
      <div>
        <label for="rating" class="block font-semibold">Рейтинг:</label>
        <input
          type="number"
          id="rating"
          v-model="newReview.rating"
          required
          class="w-full border border-gray-300 rounded-md p-2"
        />
      </div>
      <button
        type="submit"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-50"
      >
        Создать отзыв
      </button>
    </form>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      newReview: {
        user_id: localStorage.getItem('user_id') ? parseInt(localStorage.getItem('user_id')) : null,
        review_text: '',
        review_date: '',
        position_name: '',
        company_name: '',
        rating: null
      }
    }
  },
  methods: {
    async createReview() {
      try {
        const response = await api.post('/reviews', this.newReview)
        console.log('Отзыв успешно создан:', response.data)
        alert('Отзыв успешно создан!')
        this.resetForm()
      } catch (error) {
        console.error('Ошибка при создании отзыва:', error)
        alert('Произошла ошибка при создании отзыва.')
      }
    },
    resetForm() {
      this.newReview = {
        user_id: localStorage.getItem('user_id') ? parseInt(localStorage.getItem('user_id')) : null,
        review_text: '',
        review_date: '',
        position_name: '',
        company_name: '',
        rating: null
      }
    }
  }
}
</script>
