<template>
  <div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold mb-4 text-center">Отзыв пользователя {{ userName }}</h2>
    <div v-if="review" class="flex justify-center mb-8">
      <div class="flex items-start">
        <img class="imgg mr-8" :src="userImage" alt="Аватар пользователя" />
        <div class="text-left">
          <p><strong>Дата отзыва:</strong> {{ formatDate(review.review_date) }}</p>
          <p><strong>Должность:</strong> {{ review.position_name }}</p>
          <p><strong>Наименование компании:</strong> {{ review.company_name }}</p>
          <p><strong>Рейтинг:</strong> {{ review.rating }} /10</p>
          <p><strong>Текст отзыва:</strong></p>
          <p>{{ review.review_text }}</p>
        </div>
      </div>
    </div>
    <div v-else>
      <p>Отзыв не найден</p>
    </div>
    <div class="flex justify-center mt-4">
      <button
        @click="goBack"
        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mr-2"
      >
        Назад
      </button>
      <button
        v-if="isRoleAllowed"
        @click="openDeleteConfirmation"
        class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
      >
        Удалить отзыв
      </button>
    </div>

    <!-- Модальное окно подтверждения удаления -->
    <div
      v-if="showModal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="bg-white p-8 rounded-md">
        <p class="text-lg font-semibold">Вы уверены, что хотите удалить этот отзыв?</p>
        <div class="mt-4 flex justify-end">
          <button
            @click="confirmDeleteReview"
            class="bg-red-500 text-white py-2 px-4 rounded-md mr-4 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            Да
          </button>
          <button
            @click="closeDeleteConfirmation"
            class="bg-gray-200 text-gray-800 py-2 px-4 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      review: {},
      userImage: null,
      userName: '',
      showModal: false // Переменная для управления модальным окном
    }
  },

  async mounted() {
    await this.fetchReview()
  },
  methods: {
    async fetchReview() {
      try {
        const review_id = this.$route.params.review_id
        const response = await api.get(`/reviews/${review_id}`)
        this.review = response.data
        await this.fetchUserInfo(this.review.user_id)
      } catch (error) {
        console.error('Ошибка при получении подробной информации об отзыве:', error)
        alert('Произошла ошибка при получении подробной информации об отзыве.')
      }
    },
    async deleteReview() {
      try {
        const review_id = this.review.review_id
        await api.delete(`/reviews/${review_id}`)
        alert('Отзыв успешно удален!')
        this.$router.push(`/review`)
      } catch (error) {
        console.error('Ошибка при удалении отзыва:', error)
        alert('Произошла ошибка при удалении отзыва.')
      }
    },
    async fetchUserInfo(user_id) {
      try {
        const response = await api.get(`/user/${user_id}`)
        const userData = response.data
        this.userImage = userData.avatar_url
          ? `${api.getUri()}/static/${userData.avatar_url}`
          : '../static/user.jpg' // Путь к изображению по умолчанию
        this.userName = userData.username
      } catch (error) {
        console.error('Ошибка при получении информации о пользователе:', error)
      }
    },
    formatDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(date).toLocaleDateString('ru-RU', options)
    },
    goBack() {
      this.$router.back()
    },
    openDeleteConfirmation() {
      this.showModal = true
    },
    closeDeleteConfirmation() {
      this.showModal = false
    },
    async confirmDeleteReview() {
      const success = await this.deleteReview()
      if (success) {
        this.closeDeleteConfirmation()
      }
    }
  },
  computed: {
    isRoleAllowed() {
      // Получение значения role_id из localStorage
      const roleId = localStorage.getItem('role_id')
      // Проверка, что role_id равен 1 или 2
      return roleId === '1' || roleId === '2'
    }
  }
}
</script>

<style scoped>
.imgg {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
</style>
