<template>
  <div>
    <h2>Изменение отзыва</h2>
    <form @submit.prevent="updateReview">
      <div>
        <label for="review_id">ID отзыва:</label>
        <input type="number" id="review_id" v-model="updatedReview.review_id" required />
      </div>
      <div>
        <label for="user_id">ID пользователя:</label>
        <input type="number" id="user_id" v-model="updatedReview.user_id" required />
      </div>
      <div>
        <label for="review_text">Текст отзыва:</label>
        <textarea id="review_text" v-model="updatedReview.review_text" required></textarea>
      </div>
      <div>
        <label for="review_date">Дата отзыва:</label>
        <input type="date" id="review_date" v-model="updatedReview.review_date" required />
      </div>
      <div>
        <label for="position_name">Название должности:</label>
        <input type="text" id="position_name" v-model="updatedReview.position_name" required />
      </div>
      <div>
        <label for="company_name">Название компании:</label>
        <input type="text" id="company_name" v-model="updatedReview.company_name" required />
      </div>
      <div>
        <label for="rating">Рейтинг:</label>
        <input type="number" id="rating" v-model="updatedReview.rating" required />
      </div>
      <button type="submit">Сохранить изменения</button>
    </form>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      updatedReview: {
        review_id: null,
        user_id: null,
        review_text: '',
        review_date: '',
        position_name: '',
        company_name: '',
        rating: null
      }
    }
  },
  methods: {
    async updateReview() {
      try {
        const response = await api.put(
          `/reviews/${this.updatedReview.review_id}`,
          this.updatedReview
        )
        console.log('Отзыв успешно обновлен:', response.data)
        alert('Отзыв успешно обновлен!')
        // Reset form or navigate to another page
      } catch (error) {
        console.error('Ошибка при обновлении отзыва:', error)
        alert('Произошла ошибка при обновлении отзыва.')
      }
    }
  },
  mounted() {
    // Fetch review data and populate the form with the existing review details
    this.fetchReviewDetails()
  },
  async fetchReviewDetails() {
    try {
      const review_id = this.$route.params.review_id
      const response = await api.get(`/reviews/${review_id}`)
      this.updatedReview = response.data
    } catch (error) {
      console.error('Ошибка при получении деталей отзыва:', error)
      alert('Произошла ошибка при получении деталей отзыва.')
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
