<template>
  <div class="container mx-auto px-4 py-8" v-if="selectedPost">
    <div class="max-w-xl mx-auto">
      <h2 class="text-2xl font-bold mb-4">{{ selectedPost.title }}</h2>

      <div class="flex flex-col md:flex-row items-start">
        <div class="mb-4 md:mr-4 md:w-1/2">
          <img
            v-if="image_url"
            :src="image_url"
            alt="Изображение записи"
            class="w-full rounded-lg"
          />
          <img
            v-else
            src="/static/blog.jpg"
            alt="Изображение по умолчанию"
            class="w-full rounded-lg"
          />
        </div>
        <div class="md:w-1/2">
          <p class="mb-2 text-gray-700">Дата создания: {{ formatDate(selectedPost.created_at) }}</p>
          <p v-if="authorNames[selectedPost.author_id]" class="mb-2 text-gray-700">
            Автор: {{ authorNames[selectedPost.author_id] }}
          </p>
          <p class="text-gray-700">{{ selectedPost.content }}</p>
        </div>
      </div>
      <div class="mt-4 flex justify-center">
        <button
          v-if="isAuthorized()"
          @click="editPost"
          class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Редактировать запись
        </button>
        <button
          v-if="isAuthorized()"
          @click="deletePostConfirmation"
          class="mr-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Удалить запись
        </button>
        <button
          @click="goToBlogList"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Назад
        </button>
      </div>
    </div>

    <!-- Модальное окно подтверждения удаления -->
    <div
      v-if="showDeleteConfirmation"
      class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
    >
      <div class="bg-white p-6 rounded-lg">
        <p class="mb-4">Вы уверены, что хотите удалить эту запись?</p>
        <div class="flex justify-end">
          <button @click="hideDeleteDialog" class="mr-4 text-gray-600 hover:text-gray-800">
            Отмена
          </button>
          <button
            @click="deletePost"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Подтвердить
          </button>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <p>Запись загружается...</p>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const selectedPost = ref(null)
const authorNames = ref({})
const image_url = ref(null)
const showDeleteConfirmation = ref(false)

const router = useRouter()
const route = useRoute()

const fetchPostDetails = async () => {
  try {
    const post_id = route.params.post_id
    if (!post_id) {
      console.error('post_id не определен в параметрах маршрута')
      return
    }
    const response = await api.get(`/blog/${post_id}`)
    if (response.status === 200) {
      selectedPost.value = response.data
      await fetchAuthorName(response.data.author_id)
      loadImage(response.data.image_url)
    } else {
      throw new Error('Ошибка при загрузке данных о записи в блоге')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchAuthorName = async (authorId) => {
  try {
    console.log(`Получение имени пользователя с идентификатором ${authorId}`)
    const response = await api.get(`/user/${authorId}`)
    if (response.status === 200) {
      console.log(`Имя пользователя с идентификатором ${authorId} успешно получено`)
      authorNames.value[authorId] = response.data.username
    } else {
      console.error(`Ошибка при получении имени пользователя с идентификатором ${authorId}`)
    }
  } catch (error) {
    console.error(error)
  }
}

const loadImage = (imageUrl) => {
  const img = new Image()
  img.onload = () => {
    image_url.value = api.getUri() + '/static/' + imageUrl
  }
  img.onerror = () => {
    image_url.value = '/static/blog.jpg'
  }
  img.src = api.getUri() + '/static/' + imageUrl
}
const formatDate = (dateString) => {
  const options = { day: 'numeric', month: 'long', year: 'numeric' }
  const date = new Date(dateString)
  return date.toLocaleDateString('ru-RU', options)
}

const goToBlogList = () => {
  router.push('/blogs') // Перенаправление на страницу списка записей в блоге
}

const editPost = () => {
  router.push({ name: 'blogUpdate', params: { post_id: route.params.post_id } })
}

const deletePost = async () => {
  try {
    const post_id = route.params.post_id
    const response = await api.delete(`/blog/${post_id}`)
    if (response.status === 204) {
      router.push('/blogs') // Перенаправление на страницу списка записей в блоге после успешного удаления
    } else {
      throw new Error('Ошибка при удалении записи в блоге')
    }
  } catch (error) {
    console.error(error)
  }
}

const deletePostConfirmation = () => {
  showDeleteConfirmation.value = true
}

const hideDeleteDialog = () => {
  showDeleteConfirmation.value = false
}

const isAuthorized = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

onMounted(async () => {
  await fetchPostDetails()
})
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
