<template>
  <div class="container mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Создание новой записи</h2>
    <form @submit.prevent="createNews" class="max-w-md mx-auto">
      <div class="mb-4">
        <label for="title" class="block font-semibold mb-2">Заголовок:</label>
        <input
          type="text"
          id="title"
          v-model="formData.title"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="content" class="block font-semibold mb-2">Содержание:</label>
        <textarea
          id="content"
          v-model="formData.content"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="author_id" class="block font-semibold mb-2">Автор:</label>
        <select
          id="author_id"
          v-model="formData.author_id"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        >
          <option disabled value="">Выберите автора</option>
          <option v-for="user in users" :key="user.user_id" :value="user.user_id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label for="image" class="block font-semibold mb-2">Изображение:</label>
        <input type="file" id="image" @change="handleImageChange" accept="image/*" class="w-full" />
      </div>
      <div class="mb-4">
        <label for="updated_at" class="block font-semibold mb-2">Дата обновления:</label>
        <input
          type="date"
          id="updated_at"
          v-model="formData.updated_at"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Создать новость
      </button>
    </form>
    <!-- Кнопка "Назад" -->
    <div class="text-center mt-4">
      <button
        @click="goBack"
        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
      >
        Назад
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const formData = ref({
  title: '',
  content: '',
  author_id: '',
  image: null,
  updated_at: '',
  created_at: new Date().toISOString().split('T')[0] // Установка текущей даты в качестве даты создания
})
const users = ref([]) // Переменная для хранения списка пользователей

const router = useRouter()

const createNews = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.post(`/blog`, formDataCopy)
    if (response.status === 200) {
      alert('Новость успешно создана')
      router.push(`/blogs`)
    } else {
      throw new Error('Ошибка при создании новости')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при создании новости')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

const goBack = () => {
  router.go(-1)
}

onMounted(async () => {
  try {
    const usersResponse = await api.get('/user')
    if (usersResponse.status === 200) {
      users.value = usersResponse.data
    } else {
      throw new Error('Ошибка при получении списка пользователей')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке списка пользователей')
  }
})
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
