<template>
  <div class="max-w-2xl mx-auto px-4 py-8">
    <h2 class="text-2xl mb-4">Обновление записи в блоге</h2>
    <form @submit.prevent="updatePost" class="space-y-4">
      <div>
        <label for="title" class="block mb-1">Заголовок:</label>
        <input
          type="text"
          id="title"
          v-model="formData.title"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div>
        <label for="content" class="block mb-1">Содержание:</label>
        <textarea
          id="content"
          v-model="formData.content"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
        ></textarea>
      </div>
      <div>
        <label for="author_id" class="block mb-1">Автор:</label>
        <select
          id="author_id"
          v-model="formData.author_id"
          required
          class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500"
        >
          <option v-for="user in users" :key="user.user_id" :value="user.user_id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <div>
        <label for="image" class="block mb-1">Изображение:</label>
        <input type="file" id="image" @change="handleImageChange" accept="image/*" class="w-full" />
      </div>
      <div>
        <label for="created_at" class="block mb-1">Дата создания:</label>
        <input
          type="date"
          id="created_at"
          v-model="formData.created_at"
          class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none"
        />
      </div>
      <div>
        <button type="button" @click="goBack" class="text-blue-500 hover:underline">Назад</button>
      </div>
      <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">
        Обновить запись
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const formData = ref({
  title: '',
  content: '',
  author_id: '',
  image: null,
  created_at: ''
})
const users = ref([]) // Переменная для хранения списка пользователей

const router = useRouter()
const route = useRoute()

const updatePost = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.put(`/blog/${route.params.post_id}`, formDataCopy)
    if (response.status === 200) {
      alert('Запись в блоге успешно обновлена')
      router.push(`/blogs/${route.params.post_id}`)
    } else {
      throw new Error('Ошибка при обновлении записи в блоге')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при обновлении записи в блоге')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

onMounted(async () => {
  try {
    // Получение данных о записи в блоге
    const postResponse = await api.get(`/blog/${route.params.post_id}`)
    if (postResponse.status === 200) {
      const postData = postResponse.data
      formData.value.title = postData.title
      formData.value.content = postData.content
      formData.value.author_id = postData.author_id
      formData.value.created_at = postData.created_at
    } else {
      throw new Error('Ошибка при получении данных о записи в блоге')
    }

    // Получение списка пользователей
    const usersResponse = await api.get('/user')
    if (usersResponse.status === 200) {
      users.value = usersResponse.data
    } else {
      throw new Error('Ошибка при получении списка пользователей')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке данных')
  }
})
const goBack = () => {
  router.go(-1)
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
