<template>
  <div class="container mx-auto px-4 py-8 flex flex-col justify-center items-center">
    <div v-if="selectedProduct" class="flex flex-col lg:flex-row items-center">
      <!-- Перемещен заголовок сюда -->
      <div
        class="lg:w-1/2 lg:flex lg:justify-center lg:items-center lg:border lg:border-gray-200 lg:rounded-lg lg:overflow-hidden"
      >
        <img
          v-if="image_url"
          :src="image_url"
          alt="Изображение товара"
          class="imgg my-2 w-68 h-62 object-cover"
        />
        <img
          v-else
          src="/static/default.jpg"
          alt="Изображение по умолчанию"
          class="imgg my-2 w-68 h-62 object-cover"
        />
      </div>
      <div class="lg:w-1/2 mb-4 lg:mb-0 lg:ml-4">
        <h2 class="text-2xl font-bold mb-4">{{ selectedProduct.name }}</h2>
        <p class="mb-2">Тип мебели: {{ getTypeName(selectedProduct.type_id) }}</p>
        <p class="mb-2">Описание:</p>
        <p class="mb-2">{{ selectedProduct.description }}</p>
      </div>
    </div>
    <div v-else>
      <p>Загрузка информации о товаре...</p>
    </div>
    <div class="flex flex-col lg:flex-row items-center">
      <button
        v-if="isAuthorized()"
        @click="editProduct"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 lg:mb-0"
      >
        Редактировать товар
      </button>
      <button @click="goToCatalogList" class="bg-gray-500 text-white font-bold py-2 px-4 rounded">
        Назад к списку товаров
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const image_url = ref(null)
const selectedProduct = ref(null)
const furnitureTypes = ref({})
const router = useRouter()
const route = useRoute()

const fetchProductDetails = async () => {
  try {
    const product_id = route.params.product_id
    if (!product_id) {
      console.error('product_id не определен в параметрах маршрута')
      return
    }
    const response = await api.get(`/catalog/${product_id}`)
    if (response.status === 200) {
      selectedProduct.value = response.data
      await fetchFurnitureTypes()
      loadImage(response.data.image_url)
    } else {
      throw new Error('Ошибка при загрузке данных о товаре')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchFurnitureTypes = async () => {
  try {
    const response = await api.get('/furnitureType')
    if (response.status === 200) {
      const types = {}
      response.data.forEach((type) => {
        types[type.type_id] = type.name
      })
      furnitureTypes.value = types
    } else {
      throw new Error('Ошибка при загрузке списка типов мебели')
    }
  } catch (error) {
    console.error(error)
  }
}

const getTypeName = (type_id) => {
  return furnitureTypes.value[type_id] || 'Неизвестный тип'
}

const goToCatalogList = () => {
  router.push('/products') // Перенаправление на страницу списка товаров
}

const editProduct = () => {
  router.push({ name: 'productsUpdate', params: { product_id: route.params.product_id } })
}

const loadImage = (imageUrl) => {
  const img = new Image()
  img.onload = () => {
    image_url.value = api.getUri() + '/static/' + imageUrl
  }
  img.onerror = () => {
    image_url.value = '/static/default.jpg'
  }
  img.src = api.getUri() + '/static/' + imageUrl
}

const isAuthorized = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

onMounted(async () => {
  await fetchProductDetails()
})
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
