<template>
  <div class="container">
    <h2>Обновление товара</h2>
    <form @submit.prevent="updateProduct" class="form">
      <div class="form-group">
        <label for="name">Название:</label>
        <input type="text" id="name" v-model="formData.name" required class="input" />
      </div>
      <div class="form-group">
        <label for="description">Описание:</label>
        <textarea id="description" v-model="formData.description" required class="input"></textarea>
      </div>
      <div class="form-group">
        <label for="type_id">Тип мебели:</label>
        <select id="type_id" v-model.number="formData.type_id" required class="input">
          <option v-for="(type, typeId) in furnitureTypes" :key="typeId" :value="typeId">
            {{ type }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Изображение:</label>
        <input type="file" id="image" @change="handleImageChange" accept="image/*" class="input" />
      </div>
      <button type="submit" class="btn btn-primary">Обновить товар</button>
    </form>

    <!-- Кнопка удаления -->
    <button @click="deleteProduct" class="btn btn-danger">Удалить товар</button>
    <button @click="goBack" class="btn btn-secondary">Назад</button>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const formData = ref({
  name: '',
  description: '',
  type_id: '',
  image: null
})
const furnitureTypes = ref({})
const router = useRouter()
const route = useRoute()
const image_url = ref('')

const updateProduct = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.put(`/catalog/${route.params.product_id}`, formDataCopy)
    if (response.status === 200) {
      alert('Товар успешно обновлен')
      router.push(`/products/${route.params.product_id}`)
    } else {
      throw new Error('Ошибка при обновлении товара')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при обновлении товара')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

const deleteProduct = async () => {
  try {
    const response = await api.delete(`/catalog/${route.params.product_id}`)
    if (response.status === 204) {
      alert('Товар успешно удален')
      router.push('/products')
    } else {
      throw new Error('Ошибка при удалении товара')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при удалении товара')
  }
}

const goBack = () => {
  router.go(-1)
}

onMounted(async () => {
  try {
    const productResponse = await api.get(`/catalog/${route.params.product_id}`)
    if (productResponse.status === 200) {
      const productData = productResponse.data
      formData.value.name = productData.name
      formData.value.description = productData.description
      formData.value.type_id = productData.type_id
      if (productData.image_url) {
        formData.value.image_url = productData.image_url
      }
      image_url.value = api.getUri() + '/static/' + productData.image_url
    } else {
      throw new Error('Ошибка при получении данных о товаре')
    }

    const typesResponse = await api.get('/furnitureType')
    if (typesResponse.status === 200) {
      typesResponse.data.forEach((type) => {
        furnitureTypes.value[type.type_id] = type.name
      })
    } else {
      throw new Error('Ошибка при получении списка типов мебели')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке данных')
  }
})
</script>

<style scoped>
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.image-preview {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.image-preview img {
  max-width: 200px;
  margin-right: 10px;
}

.delete-icon {
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}
</style>
