<template>
  <div class="p-4">
    <h2 class="text-2xl font-bold mb-4">Создание товара</h2>
    <button
      class="w-full bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mb-4"
      @click="goToType"
    >
      Добавить новый тип мебели
    </button>
    <form @submit.prevent="createProduct" class="space-y-4">
      <div class="flex flex-col">
        <label for="name" class="mb-1">Название:</label>
        <input type="text" id="name" v-model="formData.name" required class="border p-2 rounded" />
      </div>
      <div class="flex flex-col">
        <label for="description" class="mb-1">Описание:</label>
        <textarea
          id="description"
          v-model="formData.description"
          required
          class="border p-2 rounded"
        ></textarea>
      </div>
      <div class="flex flex-col">
        <label for="type_id" class="mb-1">Тип мебели:</label>
        <select id="type_id" v-model="formData.type_id" required class="border p-2 rounded">
          <option disabled value="">Выберите тип мебели</option>
          <option v-for="type in furnitureTypes" :key="type.type_id" :value="type.type_id">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="flex flex-col">
        <label for="image" class="mb-1">Изображение:</label>
        <input
          type="file"
          id="image"
          @change="handleImageChange"
          accept="image/*"
          class="border p-2 rounded"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
      >
        Создать товар
      </button>
      <button
        @click="goBack"
        class="w-full bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
      >
        Назад
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const formData = ref({
  name: '',
  description: '',
  type_id: '',
  image: null
})
const furnitureTypes = ref([]) // Переменная для хранения списка типов мебели

const router = useRouter()

const createProduct = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.post(`/catalog`, formDataCopy)
    if (response.status === 200) {
      alert('Товар успешно создан')
      router.push(`/products`)
    } else {
      throw new Error('Ошибка при создании товара')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при создании товара')
  }
}

const handleImageChange = (event) => {
  const files = event.target.files
  if (files.length > 0) {
    const file = files[0]
    const reader = new FileReader()
    reader.onloadend = () => {
      formData.value.image = reader.result
    }
    reader.readAsDataURL(file)
  }
}
const goBack = () => {
  router.go(-1)
}
const goToType = () => {
  router.push({ name: 'furniture' })
}
onMounted(async () => {
  try {
    const typesResponse = await api.get('/furnitureType')
    if (typesResponse.status === 200) {
      furnitureTypes.value = typesResponse.data
    } else {
      throw new Error('Ошибка при получении списка типов мебели')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке списка типов мебели')
  }
})
</script>

<style scoped></style>
