<template>
  <div class="container mx-auto py-8 px-4 flex flex-col items-center">
    <!-- Заголовок -->
    <header class="bg-gray-800 text-white py-4 text-center w-full max-w-screen-xl">
      <h1 class="text-3xl font-bold mb-8 text-white">Контактная информация</h1>
    </header>

    <!-- Описание -->
    <div class="grid grid-cols-1 md:grid-cols-1 gap-8 mb-8 max-w-screen-xl mx-auto">
      <div
        class="md:w-full"
        :style="{
          width: '80%',
          margin: 'auto'
        }"
      >
        <p class="text-base text-gray-800 mb-8">
          Обратитесь к нашим специалистам и получите профессиональную консультацию по вопросам
          создания и покупки мебели (от дизайна, разработки технического задания до доставки мебели
          к Вам домой).
        </p>
        <p class="mb-8 text-base text-gray-800">
          Вы можете обратиться к нам по телефону, по электронной почте или договориться о встрече в
          нашем офисе. Будем рады помочь вам и ответить на все ваши вопросы.
        </p>
      </div>
    </div>

    <!-- Контейнер с формой и контактной информацией -->
    <div class="flex flex-wrap justify-between max-w-screen-xl mx-auto" :style="{ width: '100%' }">
      <!-- Форма для заявки -->
      <form
        @submit.prevent="createApplication"
        class="w-full md:w-1/2 mb-8 border border-gray-300 rounded-md p-6"
      >
        <strong class="block mb-4 text-center text-gray-800 underline">Оставить заявку:</strong>
        <div class="mb-4">
          <label for="username" class="block font-semibold mb-2 text-gray-800"
            >Имя пользователя:</label
          >
          <input
            type="text"
            id="username"
            v-model="newApplication.username"
            required
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="phone" class="block font-semibold mb-2 text-gray-800">Телефон:</label>
          <input
            type="tel"
            id="phone"
            v-model="newApplication.phone"
            required
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block font-semibold mb-2 text-gray-800">Email:</label>
          <input
            type="email"
            id="email"
            v-model="newApplication.email"
            required
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="mb-6">
          <label for="comment" class="block font-semibold mb-2 text-gray-800">Комментарий:</label>
          <textarea
            id="comment"
            v-model="newApplication.comment"
            required
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
            rows="10"
            style="resize: vertical"
          ></textarea>
        </div>

        <button type="submit" class="px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">
          Отправить
        </button>
      </form>

      <!-- Контактная информация -->
      <div
        class="md:w-1/4 md:ml-auto mt-8 md:mt-0"
        :style="{
          'margin-left': '50px',
          'margin-right': 'auto'
        }"
      >
        <h2 class="text-xl font-semibold mb-4 text-blue-900">Телефоны</h2>
        <ul class="mb-6 text-gray-800">
          <li class="mb-4">
            Телефон/факс:
            <ul>
              <li><b>(495) 212-85-06</b></li>
            </ul>
          </li>
          <li>
            Телефоны:
            <ul>
              <li><b>(495) 212-85-07</b></li>
              <li><b>(495) 212-85-08</b></li>
            </ul>
          </li>
        </ul>
        <h2 class="text-xl font-semibold mb-2 text-blue-900">Email</h2>
        <ul class="text-gray-800">
          <li>
            <a href="mailto:info@example.ru" class="text-blue-500">info@example.ru</a> &mdash; общие
            вопросы
          </li>
          <li>
            <a href="mailto:sales@example.ru" class="text-blue-500">sales@example.ru</a> &mdash;
            приобретение продукции
          </li>
          <li>
            <a href="mailto:marketing@example.ru" class="text-blue-500">marketing@example.ru</a>
            &mdash; маркетинг/мероприятия/PR
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import api from '../../api.js'

export default {
  data() {
    return {
      newApplication: {
        username: '',
        phone: '',
        email: '',
        comment: ''
      }
    }
  },
  methods: {
    async createApplication() {
      try {
        const response = await api.post('/application', this.newApplication)
        console.log('Новое приложение успешно создано:', response.data)
        alert('Новое приложение успешно создано!')
        this.resetForm()
      } catch (error) {
        console.error('Ошибка при создании приложения:', error)
        alert(
          'Произошла ошибка при создании приложения. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    resetForm() {
      this.newApplication = {
        username: '',
        phone: '',
        email: '',
        comment: ''
      }
    }
  }
}
</script>

<style scoped></style>
