<template>
  <div class="container mx-auto px-4 py-8 flex flex-col items-center">
    <h2 class="text-2xl font-bold mb-4">Детальная информация о приложении</h2>
    <div v-if="application" class="mb-4">
      <p>
        <strong class="float-left">Имя пользователя:</strong>
        <span class="float-right">{{ application.username }}</span>
      </p>
      <p>
        <strong class="float-left">Телефон:</strong>
        <span class="float-right">{{ application.phone }}</span>
      </p>
      <p>
        <strong class="float-left">Email:</strong>
        <span class="float-right">{{ application.email }}</span>
      </p>
      <p>
        <strong class="float-left">Комментарий:</strong>
        <span class="float-right">{{ application.comment }}</span>
      </p>
    </div>
    <router-link to="/applications" class="text-blue-500 hover:underline"
      >Назад к списку</router-link
    >
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      application: null
    }
  },
  async created() {
    await this.fetchApplication()
  },
  methods: {
    async fetchApplication() {
      try {
        const application_id = this.$route.params.application_id
        const response = await api.get(`/application/${application_id}`)
        this.application = response.data
      } catch (error) {
        console.error('Ошибка при получении информации о приложении:', error)
        alert('Произошла ошибка при загрузке информации о приложении.')
      }
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
.float-left {
  float: left;
  clear: left;
  text-align: left;
}

.float-right {
  float: right;
  clear: right;
  text-align: right;
}
</style>
