<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftCompany />
    </div>
    <div class="w-full md:w-3/4 p-4">
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h1 class="text-2xl font-bold text-center">О нашей компании</h1>
      </header>

      <main class="p-4">
        <div class="max-w-4xl mx-auto">
          <p class="indent-8">
            Наша компания существует на Российском рынке с 1992 года. За это время
            <b>&laquo;Мебельный магазин&raquo;</b> прошла большой путь от маленькой торговой фирмы
            до одного из крупнейших производителей корпусной мебели в России.
          </p>
          <h3 class="text-xl font-bold mt-4 text-center">
            Главное правило - индивидуальный подход к каждому клиенту
          </h3>
          <p class="indent-8">
            На сегодняшний день нами разработано более пятисот моделей для офиса и дома. Вместе с
            тем мы стремимся обеспечить неповторимость своей продукции. Мы изготовим мебель для
            кухни, детской, гостиной, спальной или ванной комнаты, мебель для офиса особого дизайна
            и нестандартного размера.
          </p>
          <p class="indent-8">
            Наши дизайнеры произведут замеры помещения и вместе с вами разработают дизайн-проект
            мебели для вашего интерьера, подобрав с высокой точностью размеры, модели, цвета,
            помогут оптимально расположить мебель.
          </p>
          <p class="indent-8">
            Ваш проект будет создан с учетом всех нюансов и прорисовкой мельчайших деталей.
            Результаты совместного творчества вы сможете посмотреть в объемном представлении. Вам
            наглядно продемонстрируют, как будут выглядеть в жизни выбранные элементы интерьера при
            разном освещении, в конкретном помещении, сделанные из определенных материалов. В ваше
            распоряжение будет предоставлено много различных вариантов, из которых Вы сможете
            выбрать наиболее подходящий именно Вам.
          </p>
          <p class="indent-8">
            Заказ будет выполнен и доставлен точно в срок. Все работы по сборке и установке мебели
            осуществляют сотрудники нашей компании. Строгий контроль качества осуществляется на всех
            этапах работ: от момента оформления заказа до момента приема выполненных работ.
          </p>
          <h3>Передовые технологии и бесценный опыт</h3>
          <p class="indent-8">
            Использование передовых компьютерных технологий, многолетний опыт наших специалистов
            позволяют произвести грамотные расчеты и снизить расход материалов и себестоимость
            продукции, избежать ошибок при проектировании и оптимизировать дизайн комплексных
            интерьеров. Гарантия на нашу продукцию составляет 18 месяцев, а на отдельную продукцию
            36 месяцев.
          </p>
          <p></p>
          <p class="indent-8">
            Мы гордимся нашими сотрудниками прошедшими профессиональное обучение в лучших учебных
            заведениях России и зарубежья. У нас трудятся высококлассные специалисты разных
            возрастов. Мы ценим энтузиазм молодежи и бесценный опыт старшего поколения. Все мы
            разные, но нас объединяет преданность своему делу и вера в идеи нашей компании.
          </p>
          <h3>Высочайшие стандарты качества - залог нашего успеха</h3>
          <p class="indent-8">
            <b>&laquo;Мебельный магазин&raquo;</b> осуществляет производство мебели на
            высококлассном оборудовании с применением минимальной доли ручного труда, что позволяет
            обеспечить высокое качество нашей продукции. Налажен производственный процесс как
            массового и индивидуального характера, что с одной стороны позволяет обеспечить
            постоянную номенклатуру изделий и индивидуальный подход &ndash; с другой.
          </p>
          <p class="indent-8">
            Ежегодно наша продукция проходит сертификационные испытания в специализированных
            лабораториях России и имеет сертификаты соответствия продукции нормам безопасности и
            качества. Кроме того, <b>&laquo;Мебельная компания&raquo;</b> одной из первых среди
            мебельных производителей России в 2003 году прошла аудит на соответствие требованиям
            системы менеджмента качества &laquo;ИСО 9000&raquo; и получила сертификат соответствия
            системы качества на предприятии нормам международного стандарта.
          </p>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import LeftCompany from '@/modules/leftmenu/LeftCompany.vue'

export default {
  components: {
    LeftCompany
  }
}
</script>
<style scoped></style>
