<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <!-- Левое меню -->
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block"><LeftCompany /></div>
    <!-- Заголовок и основное содержимое -->
    <div class="w-full md:w-3/4">
      <!-- Заголовок -->
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h1 class="text-2xl font-bold text-center">История</h1>
      </header>

      <!-- Основное содержимое -->
      <main class="p-4">
        <div class="max-w-4xl mx-auto">
          <p class="text-gray-800 leading-relaxed indent-8">
            Наша компания была основана в 1988 году двумя студентами университета. С тех пор мы
            прошли долгий путь, став одним из лидеров в нашей отрасли.
          </p>
          <p class="text-gray-800 leading-relaxed indent-8">
            За эти годы мы выпустили множество успешных продуктов, расширили свое присутствие на
            мировом рынке и создали культуру, основанную на инновациях и качестве.
          </p>
          <p class="text-gray-800 leading-relaxed indent-8">
            Сегодня мы гордимся нашими достижениями, но продолжаем двигаться вперед, стремясь к
            новым вершинам и достижениям.
          </p>
          <!-- Вставленное содержимое -->
          <table class="w-full border-collapse border border-gray-300 mt-8">
            <tbody>
              <tr>
                <td valign="top">1992г.</td>
                <td>
                  <b>&laquo;Мебельный магазин&raquo;</b> начиналась с изготовления мебели для школ и
                  офисов. Первое производство мебели располагалось в арендуемой мастерской, площадью
                  400 м2 с одним деревообрабатывающим станком. В компании работало двадцать человек.
                  Все заработанные средства вкладывались в развитие, что позволило молодой Компании
                  расти быстрыми темпами.
                </td>
              </tr>
              <tr>
                <td valign="top">1993г.</td>
                <td>
                  Введен в эксплуатацию новый цех площадью 700 м2, ставший первой собственностью
                  <b>&laquo;Мебельный компании&raquo;</b>. Модернизация производственной базы
                  предприятия стала хорошей традицией. Компания постепенно перешла к более
                  совершенному оборудованию, что позволило повысить уровень качества выпускаемой
                  продукции и значительно увеличить объемы производства.
                </td>
              </tr>
              <tr>
                <td valign="top">1994г.</td>
                <td>
                  <b>&laquo;Мебельный магазин&raquo;</b> расширяет свою деятельность за пределы
                  региона, начиная поставки своей продукции в соседние области. Благодаря растущему
                  спросу на качественную мебель, компания продолжает увеличивать объемы производства
                  и расширять ассортимент выпускаемой продукции.
                </td>
              </tr>
              <tr>
                <td valign="top">1995г.</td>
                <td>
                  В этом году <b>&laquo;Мебельный магазин&raquo;</b> открывает свой первый фирменный
                  магазин в центре города, что позволяет ей установить прямой контакт с
                  потребителями и получить обратную связь от них. Это значительно способствует
                  улучшению качества продукции и развитию бренда.
                </td>
              </tr>
              <tr>
                <td valign="top">1996г.</td>
                <td>
                  Начинается активное внедрение современных технологий и инноваций в
                  производственный процесс компании.
                  <b>&laquo;Мебельный магазин&raquo;</b> становится одним из первых производителей,
                  применяющих компьютерное проектирование и автоматизированные системы управления в
                  производстве мебели.
                </td>
              </tr>
              <!-- Другие строки добавьте аналогичным образом -->
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import LeftCompany from '@/modules/leftmenu/LeftCompany.vue'
export default {
  components: {
    LeftCompany
  }
}
</script>

<style scoped>
/* Задайте стили по желанию */
</style>
