<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <!-- Левое меню -->
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftCompany />
    </div>
    <!-- Основное содержимое -->
    <div
      class="w-full md:w-3/4 content flex flex-col justify-center bg-gray-100 rounded-lg mx-4 my-2 md:mx-0 md:my-0 p-6"
    >
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h2 class="text-3xl font-bold mb-4 text-center">Список вакансий</h2>
      </header>
      <button
        v-if="isAuthorized()"
        @click="goToVacancyCreate"
        class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 m-8"
      >
        Создать
      </button>
      <div class="container border border-gray-300 rounded-lg mx-auto px-4 sm:px-6 lg:px-8">
        <ul class="divide-y divide-gray-300">
          <li
            v-for="vacancy in vacancies"
            :key="vacancy.vacancy_id"
            class="py-4 flex items-center justify-between"
          >
            <img :src="`static/hh.png`" alt="HH Logo" class="w-16 h-16 object-cover" />
            <div>
              <h3 class="text-xl font-semibold mb-2">{{ vacancy.title }}</h3>
              <p class="text-gray-700">{{ truncateDescription(vacancy.description) }}</p>
              <!-- Обрезаем описание -->
            </div>

            <button
              @click="goToVacancyDetail(vacancy.vacancy_id)"
              class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
            >
              Перейти
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup>
import LeftCompany from '@/modules/leftmenu/LeftCompany.vue'
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const vacancies = ref([])
const router = useRouter()

const goToVacancyDetail = (vacancy_id) => {
  router.push({ name: 'jobDetail', params: { vacancy_id: vacancy_id } }) // Passing the vacancy_id parameter
}

const goToVacancyCreate = () => {
  router.push({ name: 'jobcreate' }) // Passing the vacancy_id parameter
}

const truncateDescription = (description) => {
  const maxLength = 14
  if (description.length <= maxLength) {
    return description
  } else {
    return description.slice(0, maxLength) + '...'
  }
}

const isAuthorized = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

onMounted(async () => {
  try {
    const response = await api.get('/vacancy')
    if (response.status === 200) {
      vacancies.value = response.data
    } else {
      throw new Error('Ошибка при получении списка вакансий')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке списка вакансий')
  }
})
</script>

<script>
export default {
  name: 'LeftCompany'
}
</script>

<style scoped>
/* Добавьте стили по вашему желанию */
</style>
