<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <!-- Левое меню -->
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block"><LeftCompany /></div>
    <!-- Контент -->
    <div class="w-full md:w-3/4 p-4 order-1 md:order-2">
      <header class="bg-gray-800 text-white py-4 text-center mb-6 rounded-lg">
        <h1 class="text-3xl font-bold">Руководство</h1>
      </header>

      <main>
        <div class="max-w-4xl mx-auto">
          <!-- Условие для кнопки "Добавить" -->
          <button
            v-if="isRoleAllowed"
            @click="goToCreate"
            class="bg-blue-500 text-white px-4 py-2 rounded-lg mb-4"
          >
            Добавить
          </button>
          <ul>
            <li
              v-for="entry in entries"
              :key="entry.management_id"
              class="py-4 border-b border-gray-200"
              :style="{
                display: 'grid',
                'grid-template-columns': 'repeat(2, 1fr)'
              }"
            >
              <div :style="{ 'grid-column': '2', 'grid-row': '1' }">
                <template v-if="users[entry.user_id]">
                  <strong class="block mb-1"
                    >ФИО: <span>{{ users[entry.user_id].username }}</span></strong
                  >
                  <strong v-if="users[entry.user_id].position_name" class="block mb-1">
                    Должность:<span v-if="users[entry.user_id].position_name">{{
                      users[entry.user_id].position_name
                    }}</span>
                  </strong>
                  <strong class="block mb-1">Описание:</strong>
                  <p class="text-gray-800 mb-2">{{ entry.description }}</p>
                </template>
                <template v-else>
                  <span>Загрузка...</span>
                </template>
              </div>
              <img
                v-if="users[entry.user_id]"
                :src="getUserImageUrl(users[entry.user_id].avatar_url)"
                alt="Аватар пользователя"
                class="avatar mt-2"
                :style="{ 'grid-column': '1', 'grid-row': '1' }"
              />
              <button
                @click="goToDetail(entry.management_id)"
                class="bg-green-500 text-white px-4 py-2 rounded-lg mt-2 hover:bg-green-600"
                :style="{ 'grid-column': '2', 'grid-row': '2' }"
              >
                Подробнее
              </button>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import api from '../../api.js'
import LeftCompany from '@/modules/leftmenu/LeftCompany.vue'

export default {
  components: { LeftCompany },
  data() {
    return {
      entries: [],
      users: {}
    }
  },
  created() {
    this.fetchEntries()
  },
  methods: {
    async fetchEntries() {
      try {
        const response = await api.get('/management')
        this.entries = response.data
        await this.fetchUsersData()
      } catch (error) {
        console.error('Ошибка при загрузке списка записей:', error)
        alert(
          'Произошла ошибка при загрузке списка записей. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    async fetchUsersData() {
      try {
        for (const entry of this.entries) {
          if (!this.users[entry.user_id]) {
            const response = await api.get(`/user/${entry.user_id}`)
            this.users[entry.user_id] = response.data
            await this.fetchPositionInfo(response.data)
          }
        }
      } catch (error) {
        console.error('Ошибка при загрузке данных пользователя:', error)
        alert(
          'Произошла ошибка при загрузке данных пользователя. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    async fetchPositionInfo(user) {
      try {
        const positionResponse = await api.get(`/positions/${user.position_id}`)
        if (positionResponse.status === 200) {
          user.position_name = positionResponse.data.position_name
        }
      } catch (error) {
        console.error('Ошибка при получении дополнительной информации:', error)
        user.position_name = 'Должность отсутствует'
      }
    },
    getUserImageUrl(avatarUrl) {
      return avatarUrl ? api.getUri() + '/static/' + avatarUrl : '../static/user.jpg'
    },
    goToDetail(managementId) {
      this.$router.push({ name: 'detailmanagement', params: { management_id: managementId } })
    },
    goToCreate() {
      this.$router.push({ name: 'createmanagement' })
    }
  },
  computed: {
    isRoleAllowed() {
      // Получение значения role_id из localStorage
      const roleId = localStorage.getItem('role_id')
      // Проверка, что role_id равен 1 или 2
      return roleId === '1' || roleId === '2'
    }
  }
}
</script>

<style scoped>
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
}
</style>
