<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <!-- Левое меню -->
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftCompany />
    </div>
    <!-- Контент -->
    <div class="w-full md:w-3/4 px-4 py-8">
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h1 class="text-2xl font-bold text-center">Миссия и стратегия</h1>
      </header>
      <main class="p-4">
        <div class="max-w-4xl mx-auto">
          <div>
            <h2 class="text-xl font-semibold mb-4">Наша миссия</h2>
            <p class="text-gray-800 leading-relaxed indent-8">
              Мы стремимся предоставить нашим клиентам лучшие продукты и услуги, которые помогут им
              достичь своих целей и удовлетворить их потребности.
            </p>
          </div>
          <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Наша стратегия</h2>
            <p class="text-gray-800 leading-relaxed indent-8">
              Наша стратегия основана на инновациях, качестве и абсолютной удовлетворенности
              клиентов. Мы ставим перед собой высокие стандарты и постоянно ищем новые способы
              улучшить наши продукты и услуги. Это означает не только создание уникальных и
              инновационных решений, но и активное слушание наших клиентов, чтобы лучше понять их
              потребности и ожидания.
            </p>
            <p class="text-gray-800 leading-relaxed indent-8">
              Кроме того, мы активно работаем над укреплением отношений с нашими клиентами. Мы
              строим долгосрочные партнерские отношения, основанные на взаимном доверии и уважении.
              Мы ценим каждого клиента и делаем все возможное, чтобы удовлетворить их потребности.
            </p>
            <p class="text-gray-800 leading-relaxed indent-8">
              Наше преданное отношение к инновациям, качеству и удовлетворенности клиентов является
              основой нашего успеха. Мы гордимся тем, что делаем, и стремимся к постоянному
              совершенствованию, чтобы быть лучшими для наших клиентов.
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import LeftCompany from '@/modules/leftmenu/LeftCompany.vue'

export default {
  name: 'MissionAndStrategy',
  components: { LeftCompany }
}
</script>

<style scoped>
/* Добавьте стили по вашему желанию */
</style>
