<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <!-- Левое меню -->
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftCompany />
    </div>
    <!-- Контент -->
    <div class="w-full md:w-3/4 px-4 py-8">
      <!-- Заголовок -->
      <header class="bg-gray-800 text-white py-4 text-center md:text-left mb-6 rounded-lg">
        <h2 class="text-center text-2xl font-bold mb-4">Список отзывов</h2>
      </header>

      <!-- Список отзывов -->
      <ul>
        <li
          v-for="review in visibleReviews"
          :key="review.review_id"
          class="py-4 border-b border-gray-200"
        >
          <div class="flex flex-wrap">
            <div class="w-full md:w-4/5 pr-4">
              <!-- Основной контент слева -->
              <strong class="w-full md:w-1/5 mb-1">ФИО: </strong>
              <span v-if="userNames[review.user_id]">{{ userNames[review.user_id] }}</span>
              <span v-else>Загрузка...</span><br />

              <!-- Контейнер для "Дата", "Название должности" и "Название компании" -->
              <div class="flex flex-col md:flex-row">
                <div class="w-full md:w-1/3">
                  <strong class="mb-1">Дата:</strong>
                  <span>{{ new Date(review.review_date).toLocaleDateString() }}</span>
                </div>
                <div>
                  <span>{{ truncateText(review.review_text) }}</span>
                </div>
              </div>

              <strong class="w-full md:w-1/5 mb-1">Оценка:</strong>
              <span class="w-full md:w-4/5">{{ review.rating }}/10</span>
            </div>
            <div class="w-full md:w-5/5 flex items-center">
              <!-- Контейнер для текста отзыва и кнопок -->
              <div class="flex flex-col w-full text-right">
                <!-- Добавлены классы w-full и text-center -->

                <div class="mt-auto">
                  <!-- Кнопка для перехода на детальную страницу отзыва -->
                  <router-link
                    :to="{ name: 'reviewDetail', params: { review_id: review.review_id } }"
                    class="text-blue-500 hover:underline mt-2"
                  >
                    Подробнее
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- Кнопки навигации -->
      <div class="flex justify-center my-4">
        <!-- Кнопка "Предыдущая" -->
        <button
          @click="prevPage"
          :disabled="startIndex === 0"
          class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mr-2"
        >
          Предыдущая
        </button>

        <!-- Текущая страница -->
        <span class="font-bold">{{ currentPage }}</span>

        <!-- Кнопка "Следующая" -->
        <button
          @click="nextPage"
          :disabled="startIndex + reviewsPerPage >= reviews.length"
          class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded ml-2"
        >
          Следующая
        </button>
      </div>

      <!-- Кнопка "Добавить отзыв" -->
      <div class="flex justify-center my-4">
        <button
          @click="openReviewForm"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Оставить отзыв
        </button>
      </div>

      <!-- Модуль создания отзыва -->
      <CreateReviewModal v-if="showCreateReviewModal" @close="closeReviewForm" />
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import api from '../../api.js'
import LeftCompany from '@/modules/leftmenu/LeftCompany.vue'
import CreateReviewModal from '@/modules/reviews/CreateReview.vue'

export default {
  components: { LeftCompany, CreateReviewModal },
  data() {
    return {
      reviews: [],
      userNames: {},
      isRoleValidVisible: ref(false),
      startIndex: 0,
      reviewsPerPage: 4,
      showCreateReviewModal: false
    }
  },
  async mounted() {
    await this.fetchReviews()
    await this.checkRoleValidity()
  },
  computed: {
    currentPage() {
      return Math.ceil((this.startIndex + 1) / this.reviewsPerPage)
    },
    visibleReviews() {
      const sortedReviews = this.reviews.slice().sort((a, b) => {
        return new Date(b.review_date) - new Date(a.review_date)
      })

      return sortedReviews.slice(this.startIndex, this.startIndex + this.reviewsPerPage)
    },
    showLoadMoreButton() {
      return this.startIndex + this.reviewsPerPage < this.reviews.length
    }
  },
  methods: {
    async fetchReviews() {
      try {
        const response = await api.get('/reviews')
        this.reviews = response.data
        // Получаем и сохраняем имена пользователей
        await this.getUserNames()
      } catch (error) {
        console.error('Ошибка при получении списка отзывов:', error)
        alert('Произошла ошибка при получении списка отзывов.')
      }
    },
    async getUserNames() {
      // Получаем и сохраняем имена всех пользователей, участвующих в отзывах
      for (const review of this.reviews) {
        if (!this.userNames[review.user_id]) {
          try {
            const response = await api.get(`/user/${review.user_id}`)
            // Используем оператор реактивности Vue 3 для установки свойства
            this.userNames = { ...this.userNames, [review.user_id]: response.data.username }
          } catch (error) {
            console.error(
              `Ошибка при получении информации о пользователе с ID ${review.user_id}:`,
              error
            )
            // Используем оператор реактивности Vue 3 для установки свойства
            this.userNames = { ...this.userNames, [review.user_id]: 'Неизвестный пользователь' }
          }
        }
      }
    },
    async editReview(review_id) {
      this.$router.push({ name: 'update-review', params: { review_id } })
    },

    async isRoleValid() {
      const roleId = localStorage.getItem('role_id')
      return roleId === '1' || roleId === '2'
    },
    async checkRoleValidity() {
      this.isRoleValidVisible = await this.isRoleValid()
    },
    truncateText(text) {
      if (text.length > 79) {
        return text.substring(0, 79) + '...'
      }
      return text
    },
    loadMore() {
      this.startIndex += this.reviewsPerPage
    },
    prevPage() {
      if (this.startIndex >= this.reviewsPerPage) {
        this.startIndex -= this.reviewsPerPage
      }
    },
    nextPage() {
      if (this.startIndex + this.reviewsPerPage < this.reviews.length) {
        this.startIndex += this.reviewsPerPage
      }
    },
    openReviewForm() {
      this.showCreateReviewModal = true
    },
    closeReviewForm() {
      this.showCreateReviewModal = false
    }
  }
}
</script>

<style scoped></style>
