<template>
  <div class="container mx-auto px-4">
    <header class="md:w-4/4 bg-gray-800 text-white py-6">
      <h1 class="text-center text-2xl font-bold">Услуги</h1>
    </header>

    <div class="flex justify-center items-center h-full">
      <button
        @click="goToPut"
        data-testid="add-service-button"
        v-if="isRoleValid()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-8"
      >
        Добавить услугу
      </button>
    </div>

    <div class="flex flex-col items-center">
      <div class="mt-8 w-full max-w-3xl">
        <div v-if="currentPageServices.length">
          <div
            v-for="(item, index) in currentPageServices"
            :key="index"
            class="bg-white rounded-lg shadow-md mb-4"
          >
            <div class="flex flex-col md:flex-row">
              <div class="md:w-1/3 p-4">
                <img
                  class="w-full h-auto rounded-lg border border-gray-300"
                  v-if="item.image_url"
                  :src="getImageUrl(item.image_url)"
                  alt="Изображение услуги"
                />
                <img
                  class="w-full h-auto rounded-lg border border-gray-300"
                  v-else
                  :src="defaultImageUrl"
                  alt="Изображение по умолчанию"
                />
              </div>
              <div class="md:w-2/3 p-4">
                <h4 class="text-xl font-semibold mb-2 text-center">{{ item.name }}</h4>
                <p class="text-gray-800 indent-8">{{ item.description }}</p>
                <button
                  @click="showServiceDetails(item.services_id)"
                  class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
                >
                  Подробнее
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <p class="text-gray-700">Загрузка услуг...</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center my-8">
      <button
        @click="prevPage"
        :disabled="currentPage === 1"
        class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md mr-2 hover:bg-gray-400"
      >
        Предыдущая
      </button>
      <span class="text-gray-600">Страница {{ currentPage }}</span>
      <button
        @click="nextPage"
        :disabled="currentPage * itemsPerPage >= services.length"
        class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md ml-2 hover:bg-gray-400"
      >
        Следующая
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const services = ref([])
const router = useRouter()
// const isRoleValidVisible = ref(false)

const fetchServices = async () => {
  try {
    const response = await api.get('/services')
    if (response.status === 200) {
      services.value = response.data.reverse()
    } else {
      throw new Error('Ошибка при загрузке данных о услугах')
    }
  } catch (error) {
    console.error(error)
  }
}

const goToPut = () => {
  router.push('/servicescreate')
}

const showServiceDetails = (services_id) => {
  if (services_id) {
    router.push({ name: 'servicesDetail', params: { services_id } })
  } else {
    console.error('Ошибка: параметр service_id отсутствует или некорректен')
  }
}

const defaultImageUrl = '../static/services.jpg'

const currentPage = ref(1)
const itemsPerPage = 3 // Количество услуг на странице
const currentPageServices = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return services.value.slice(startIndex, endIndex)
})

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--
  }
}

const nextPage = () => {
  const totalPages = Math.ceil(services.value.length / itemsPerPage)
  if (currentPage.value < totalPages) {
    currentPage.value++
  }
}

const getImageUrl = (imageUrl) => {
  if (imageUrl) {
    return api.getUri() + '/static/' + imageUrl
  } else {
    return defaultImageUrl
  }
}

const isRoleValid = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

fetchServices()
</script>

<style scoped>
.service-heading {
  text-align: center;
}

.service-item {
  cursor: pointer;
}

.pagination button {
  cursor: pointer;
}
</style>
