<template>
  <div class="container mx-auto p-4">
    <h2 class="text-center text-2xl font-bold my-8">Обновление типа мебели</h2>
    <form @submit.prevent="updateFurnitureType" class="max-w-md mx-auto">
      <div class="mb-4">
        <label for="typeName" class="block mb-2">Новое название типа мебели:</label>
        <input
          type="text"
          id="typeName"
          v-model="typeName"
          required
          class="w-full border rounded px-3 py-2"
        />
      </div>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Обновить
      </button>
      <button
        @click="goBack"
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
      >
        Назад
      </button>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import api from '../../api.js'

const typeName = ref('')
const router = useRouter()
const route = useRoute()

onMounted(async () => {
  await fetchFurnitureType()
})

const fetchFurnitureType = async () => {
  try {
    const response = await api.get(`/furnitureType/${route.params.type_id}`)
    typeName.value = response.data.name
  } catch (error) {
    console.error('Ошибка при получении информации о типе мебели:', error)
  }
}

const updateFurnitureType = async () => {
  try {
    const response = await api.put(`/furnitureType/${route.params.type_id}`, {
      name: typeName.value
    })
    if (response.status === 200) {
      router.push('/furniture')
    } else {
      throw new Error('Ошибка при обновлении типа мебели')
    }
  } catch (error) {
    console.error('Ошибка при обновлении типа мебели:', error)
    alert('Произошла ошибка при обновлении типа мебели')
  }
}

const goBack = () => {
  router.go(-1)
}
</script>

<style scoped></style>
