<template>
  <div class="flex">
    <!-- Левая часть - список типов мебели -->
    <div class="w-1/2 p-4 border-r border-gray-200">
      <h2 class="text-2xl font-bold mb-4">Список типов мебели</h2>
      <div class="overflow-y-auto h-96">
        <ul>
          <li
            v-for="type in furnitureTypes"
            :key="type.type_id"
            class="flex items-center justify-between mb-4"
          >
            <span>{{ type.name }}</span>
            <button @click="deleteFurnitureType(type.type_id)" class="text-red-500 mr-2">
              Удалить
            </button>
            <router-link :to="'/furniture/' + type.type_id + '/update'" class="text-blue-500">
              Обновить
            </router-link>
          </li>
        </ul>
      </div>
    </div>

    <!-- Правая часть - форма для добавления нового типа мебели -->
    <div class="w-1/2 p-4">
      <h2 class="text-2xl font-bold mb-4">Добавление нового типа мебели</h2>
      <div class="border border-gray-200 rounded p-4">
        <form @submit.prevent="createFurnitureType" class="space-y-4">
          <div class="flex flex-col space-y-4">
            <div class="flex flex-col w-full">
              <label for="newTypeName" class="text-sm font-semibold">Название типа мебели:</label>
              <input
                type="text"
                id="newTypeName"
                v-model="newTypeName"
                required
                class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mx-auto focus:outline-none focus:shadow-outline"
            >
              Добавить
            </button>
            <button
              @click="goBack"
              class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
            >
              Назад
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

export default {
  setup() {
    const furnitureTypes = ref([]) // Переменная для хранения списка типов мебели
    const newTypeName = ref('') // Переменная для хранения названия нового типа мебели
    const router = useRouter()
    // Получение всех типов мебели при загрузке страницы
    onMounted(async () => {
      await fetchFurnitureTypes()
    })

    // Функция для получения списка всех типов мебели
    const fetchFurnitureTypes = async () => {
      try {
        const response = await api.get('/furnitureType')
        furnitureTypes.value = response.data
      } catch (error) {
        console.error('Ошибка при получении списка типов мебели:', error)
      }
    }

    // Функция для создания нового типа мебели
    const createFurnitureType = async () => {
      try {
        const response = await api.post('/furnitureType', { name: newTypeName.value })
        if (response.status === 201) {
          alert('Тип мебели успешно добавлен')
          await fetchFurnitureTypes() // После добавления обновляем список типов мебели
          newTypeName.value = '' // Очищаем поле для ввода
        }
      } catch (error) {
        console.error('Ошибка при добавлении типа мебели:', error)
        alert('Произошла ошибка при добавлении типа мебели')
      }
    }

    // Функция для удаления типа мебели
    const deleteFurnitureType = async (type_id) => {
      try {
        const response = await api.delete(`/furnitureType/${type_id}`)
        if (response.status === 204) {
          alert('Тип мебели успешно удален')
          await fetchFurnitureTypes() // После удаления обновляем список типов мебели
        } else {
          console.error('Ошибка при удалении типа мебели:', response.data)
          alert('Произошла ошибка при удалении типа мебели')
        }
      } catch (error) {
        console.error('Ошибка при удалении типа мебели:', error)
        alert('Произошла ошибка при удалении типа мебели')
      }
    }

    const goBack = () => {
      router.go(-1)
    }

    return {
      furnitureTypes,
      newTypeName,
      createFurnitureType,
      deleteFurnitureType,
      goBack
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}
.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
</style>
