<template>
  <div class="modal">
    <div class="modal-content">
      <p>Вы уверены, что хотите удалить эту новость?</p>
      <div>
        <button @click="cancelDelete">Отмена</button>
        <button @click="confirmDelete">Удалить</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    cancelDelete() {
      this.$emit('cancel')
    },
    confirmDelete() {
      this.$emit('confirm')
    }
  }
}
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
</style>
