<template>
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-3xl font-bold mb-4">404 - страница не найдена</h1>
    <p class="text-lg mb-4">Извините, запрашиваемая страница не существует.</p>
    <router-link to="/" class="text-blue-500 hover:underline">Вернуться на главную</router-link>
  </div>
</template>

<script>
export default {
  name: 'PageNotFound'
}
</script>
