<template>
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-3xl font-bold mb-4">Не достаточные права доступа!</h1>
    <p class="text-lg mb-4">Извините, у вас нет прав для доступа к этой странице.</p>
    <router-link to="/" class="text-blue-500 hover:underline">Вернуться на главную</router-link>
  </div>
</template>

<script>
export default {
  name: 'NoAccess'
}
</script>
