<template>
  <div class="flex">
    <!-- Левая часть - список должностей -->
    <div class="w-1/2 p-4 border-r border-gray-200">
      <h2 class="text-2xl font-bold mb-4">Список должностей</h2>
      <div class="overflow-y-auto h-96">
        <ul>
          <li
            v-for="position in positions"
            :key="position.id"
            class="flex items-center justify-between mb-4"
          >
            <span>{{ position.position_name }}</span>
            <div class="flex items-center">
              <button @click="deletePosition(position.id)" class="text-red-500 mr-2">
                Удалить
              </button>
              <router-link :to="'/positions/' + position.id + '/update'" class="text-blue-500">
                Обновить
              </router-link>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Правая часть - форма для добавления новой должности -->
    <div class="w-1/2 p-4">
      <h2 class="text-2xl font-bold mb-4">Добавление новой должности</h2>
      <div class="border border-gray-200 rounded p-4">
        <form @submit.prevent="createPosition" class="space-y-4">
          <div class="flex flex-col space-y-4">
            <div class="flex flex-col w-full">
              <label for="newPositionName" class="text-sm font-semibold">Название должности:</label>
              <input
                type="text"
                id="newPositionName"
                v-model="newPositionName"
                required
                class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mx-auto focus:outline-none focus:shadow-outline"
            >
              Добавить
            </button>
          </div>
        </form>
        <button
          @click="goBack"
          class="mt-4 mb-8 bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mx-auto block"
        >
          Назад
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

export default {
  setup() {
    const positions = ref([]) // Переменная для хранения списка должностей
    const newPositionName = ref('') // Переменная для хранения названия новой должности
    const router = useRouter()

    // Получение всех должностей при загрузке страницы
    onMounted(async () => {
      await fetchPositions()
    })

    // Функция для получения списка всех должностей
    const fetchPositions = async () => {
      try {
        const response = await api.get('/positions')
        positions.value = response.data
      } catch (error) {
        console.error('Ошибка при получении списка должностей:', error)
      }
    }

    // Функция для создания новой должности
    const createPosition = async () => {
      try {
        const response = await api.post('/positions', { position_name: newPositionName.value })
        if (response.status === 201) {
          alert('Должность успешно добавлена')
          await fetchPositions() // После добавления обновляем список должностей
          newPositionName.value = '' // Очищаем поле для ввода
        } else {
          throw new Error('Ошибка при добавлении должности')
        }
      } catch (error) {
        console.error('Ошибка при добавлении должности:', error)
        alert('Произошла ошибка при добавлении должности')
      }
    }

    // Функция для удаления должности
    const deletePosition = async (id) => {
      try {
        const response = await api.delete(`/positions/${id}`)
        if (response.status === 204) {
          alert('Должность успешно удалена')
          await fetchPositions() // После удаления обновляем список должностей
        } else {
          throw new Error('Ошибка при удалении должности')
        }
      } catch (error) {
        console.error('Ошибка при удалении должности:', error)
        alert('Произошла ошибка при удалении должности')
      }
    }

    // Функция для возврата назад
    const goBack = () => {
      router.back()
    }

    return {
      positions,
      newPositionName,
      createPosition,
      deletePosition,
      goBack,
      router
    }
  }
}
</script>

<style scoped>
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}
.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
</style>
