<template>
  <div class="container mx-auto p-4">
    <h2 class="text-center text-2xl font-bold my-8">Обновление должности</h2>
    <form @submit.prevent="updatePosition" class="max-w-md mx-auto">
      <div class="mb-4">
        <label for="positionName" class="block mb-2">Новое название должности:</label>
        <input
          type="text"
          id="positionName"
          v-model="newPositionName"
          required
          class="w-full border rounded px-3 py-2"
        />
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Обновить
        </button>
        <button
          @click="goBack"
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
        >
          Назад
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const newPositionName = ref('')
const router = useRouter()
const route = useRoute()

const updatePosition = async () => {
  try {
    const response = await api.put(`/positions/${route.params.id}`, {
      position_name: newPositionName.value
    })
    if (response.status === 200) {
      router.push('/positions')
    } else {
      throw new Error('Ошибка при обновлении должности')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при обновлении должности')
  }
}

const goBack = () => {
  router.go(-1)
}
</script>

<style scoped></style>
