<template>
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Создание услуги</h2>
    <form @submit.prevent="createService" class="space-y-4">
      <div class="flex flex-col space-y-4">
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="name" class="text-sm font-semibold">Название:</label>
          <input
            type="text"
            id="name"
            v-model="formData.name"
            required
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="description" class="text-sm font-semibold">Описание:</label>
          <textarea
            id="description"
            v-model="formData.description"
            required
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          ></textarea>
        </div>
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="image" class="text-sm font-semibold">Изображение:</label>
          <input
            type="file"
            id="image"
            @change="handleImageChange"
            accept="image/*"
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mx-auto focus:outline-none focus:shadow-outline"
        >
          Создать
        </button>
        <button
          @click="goBack"
          class="mt-4 mb-8 bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mx-auto block"
        >
          Назад
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const formData = ref({
  name: '',
  description: '',
  image: null
})

const router = useRouter()

const createService = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.post(`/services`, formDataCopy)
    if (response.status === 200) {
      alert('Услуга успешно создана')
      router.push(`/services`)
    } else {
      throw new Error('Ошибка при создании услуги')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при создании услуги')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}
const goBack = () => {
  router.go(-1)
}
</script>

<style scoped></style>
