<template>
  <div class="container mx-auto px-4 py-8">
    <div class="max-w-lg mx-auto">
      <h2 class="text-2xl font-bold my-8" v-if="selectedService">{{ selectedService.name }}</h2>
      <div v-if="selectedService">
        <div class="flex items-center flex-wrap">
          <div class="mr-4">
            <img
              v-if="image_url"
              :src="image_url"
              alt="Изображение услуги"
              class="border border-gray-300 rounded-md"
            />
            <img
              v-else
              src="../static/services.jpg"
              alt="Изображение по умолчанию"
              class="border border-gray-300 rounded-md"
            />
          </div>
          <div class="flex flex-col">
            <p class="text-gray-700 mt-2">{{ selectedService.description }}</p>
          </div>
        </div>
        <div class="mt-4 space-x-4">
          <div class="mt-4 space-x-4">
            <button
              @click="editService"
              v-if="isRoleValidVisible"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
              Редактировать услугу
            </button>
            <button
              @click="deleteCurrentService"
              v-if="isRoleValidVisible"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            >
              Удалить услугу
            </button>
            <button
              @click="goToServiceList"
              class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
            >
              Назад к списку услуг
            </button>
          </div>
        </div>
      </div>
      <div v-else>
        <p>Услуга загружается...</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const selectedService = ref(null)
const image_url = ref(null)

const router = useRouter()
const route = useRoute()
const isRoleValidVisible = ref(false)
const isRoleValid = async () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}
const checkRoleValidity = async () => {
  isRoleValidVisible.value = await isRoleValid()
}

checkRoleValidity()
const fetchServiceDetails = async () => {
  try {
    const services_id = route.params.services_id
    if (!services_id) {
      console.error('service_id не определен в параметрах маршрута')
      return
    }
    const response = await api.get(`/services/${services_id}`)
    if (response.status === 200) {
      selectedService.value = response.data
      loadImage(response.data.image_url)
    } else {
      throw new Error('Ошибка при загрузке данных об услуге')
    }
  } catch (error) {
    console.error(error)
  }
}

const loadImage = (imageUrl) => {
  const img = new Image()
  img.onload = () => {
    image_url.value = api.getUri() + '/static/' + imageUrl
  }
  img.onerror = () => {
    image_url.value = '../static/services.jpg'
  }
  img.src = api.getUri() + '/static/' + imageUrl
}

const goToServiceList = () => {
  router.push('/services') // Перенаправление на страницу списка услуг
}

const editService = () => {
  router.push({ name: 'servicesUpdate', params: { services_id: route.params.services_id } })
}

const deleteCurrentService = async () => {
  try {
    const services_id = route.params.services_id
    console.log('ID услуги для удаления:', services_id) // Выводим service_id в консоль
    const response = await api.delete(`/services/${services_id}`)
    if (response.status === 200) {
      console.log('Услуга успешно удалена')
      router.push('/services') // Перенаправление на страницу списка услуг
    } else {
      throw new Error('Ошибка при удалении услуги')
    }
  } catch (error) {
    console.error(error)
  }
}

onMounted(async () => {
  await fetchServiceDetails()
})
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
