<template>
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold my-8 text-center">Редактирование услуги</h2>
    <form @submit.prevent="updateService" class="max-w-md mx-auto">
      <div class="mb-4">
        <label for="name" class="block mb-2">Название услуги:</label>
        <input
          type="text"
          id="name"
          v-model="formData.name"
          required
          class="w-full border rounded px-3 py-2"
        />
      </div>
      <div class="mb-4">
        <label for="description" class="block mb-2">Описание услуги:</label>
        <textarea
          id="description"
          v-model="formData.description"
          required
          class="w-full border rounded px-3 py-2"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="image" class="block mb-2">Изображение:</label>
        <input type="file" id="image" @change="handleImageChange" accept="image/*" class="w-full" />
      </div>

      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Обновить услугу
      </button>
    </form>

    <button
      @click="goBack"
      class="mt-4 mb-8 bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mx-auto block"
    >
      Назад
    </button>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const formData = ref({
  name: '',
  description: '',
  image: null
})
const router = useRouter()
const route = useRoute()

const updateService = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.put(`/services/${route.params.services_id}`, formDataCopy)
    if (response.status === 200) {
      alert('Услуга успешно обновлена')
      router.push(`/services/${route.params.services_id}`)
    } else {
      throw new Error('Ошибка при обновлении услуги')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при обновлении услуги')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

const goBack = () => {
  router.go(-1)
}

onMounted(async () => {
  try {
    // Получение данных об услуге
    const serviceResponse = await api.get(`/services/${route.params.services_id}`)
    if (serviceResponse.status === 200) {
      const serviceData = serviceResponse.data
      formData.value.name = serviceData.name
      formData.value.description = serviceData.description
    } else {
      throw new Error('Ошибка при получении данных об услуге')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке данных')
  }
})
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
