<template>
  <div>
    <h2>Вход</h2>
    <!-- Форма для входа пользователя -->
    <p v-if="loginErrorMessage" style="color: red">{{ loginErrorMessage }}</p>

    <h2>User Registration</h2>
    <form @submit.prevent="registerUser">
      <!-- Форма регистрации пользователя -->
    </form>
    <p v-if="registrationErrorMessage">{{ registrationErrorMessage }}</p>
  </div>
</template>

<script>
import { reactive } from 'vue'

export default {
  setup() {
    const loginState = reactive({
      email: '',
      password: '',
      loginErrorMessage: ''
    })

    const registerState = reactive({
      // Состояние для формы регистрации
    })

    const registerUser = async () => {
      try {
        // Логика регистрации пользователя
      } catch (error) {
        console.error(error)
      }
    }

    return {
      ...loginState,
      ...registerState,
      registerUser
    }
  }
}
</script>
<style scoped>
/* Стили для компонента Vue */
h2 {
  color: #41b883; /* Светло-зелёный */
}

p {
  color: #35495e; /* Тёмнозелёный */
}
</style>
