<template>
  <div class="p-4">
    <h2 class="text-2xl font-semibold mb-4">Добавление новой задачи</h2>
    <form @submit.prevent="addTask" class="space-y-4">
      <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <div class="w-full md:w-1/2">
          <label for="title" class="block">Название задачи:</label>
          <input
            type="text"
            id="title"
            v-model="newTask.title"
            required
            class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="w-full md:w-1/2">
          <label for="description" class="block">Описание:</label>
          <textarea
            id="description"
            v-model="newTask.description"
            required
            class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"
          ></textarea>
        </div>
      </div>
      <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
        <div class="w-full md:w-1/2">
          <label for="start_date" class="block">Дата начала:</label>
          <input
            type="date"
            id="start_date"
            v-model="newTask.start_date"
            required
            class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="w-full md:w-1/2">
          <label for="deadline" class="block">Крайний срок:</label>
          <input
            type="date"
            id="deadline"
            v-model="newTask.deadline"
            required
            class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"
          />
        </div>
      </div>
      <div>
        <label for="created_by" class="block">Создана пользователем:</label>
        <select
          id="created_by"
          v-model="newTask.created_by"
          required
          class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"
        >
          <option disabled value="">Выберите пользователя</option>
          <option v-for="user in users" :key="user.user_id" :value="user.user_id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <div>
        <label for="status_id" class="block">Статус задачи:</label>
        <select
          id="status_id"
          v-model="newTask.status_id"
          required
          class="w-full border rounded-md px-4 py-2 focus:outline-none focus:border-blue-500"
        >
          <option disabled value="">Выберите статус</option>
          <option v-for="status in statuses" :key="status.status_id" :value="status.status_id">
            {{ status.name }}
          </option>
        </select>
      </div>
      <div class="flex justify-between">
        <button type="submit" class="px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">
          Добавить задачу
        </button>
        <button
          @click="goBack"
          type="button"
          class="px-6 py-3 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400"
        >
          Назад
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      newTask: {
        title: '',
        description: '',
        deadline: '',
        created_by: null,
        start_date: '',
        status_id: null
      },
      users: [],
      statuses: []
    }
  },
  async mounted() {
    await this.fetchUsers()
    await this.fetchStatuses()
    this.setDefaultStartDate()
    this.setDefaultStatusId()
  },
  methods: {
    async fetchUsers() {
      try {
        const response = await api.get('/user')
        this.users = response.data
      } catch (error) {
        console.error('Ошибка при получении пользователей:', error)
        alert(
          'Произошла ошибка при загрузке пользователей. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    async fetchStatuses() {
      try {
        const response = await api.get('/status')
        this.statuses = response.data
      } catch (error) {
        console.error('Ошибка при получении статусов задач:', error)
        alert(
          'Произошла ошибка при загрузке статусов задач. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    async addTask() {
      try {
        console.log('newTask:', this.newTask) // Отладочный вывод

        const response = await api.post('/tasks', this.newTask)
        console.log('Новая задача успешно добавлена:', response.data)
        alert('Новая задача успешно добавлена!')
        this.resetForm()
      } catch (error) {
        console.error('Ошибка при добавлении задачи:', error)
        alert(
          'Произошла ошибка при добавлении задачи. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },

    resetForm() {
      this.newTask = {
        title: '',
        description: '',
        deadline: '',
        created_by: null,
        start_date: '',
        status_id: null
      }
    },
    setDefaultStartDate() {
      const today = new Date().toISOString().substr(0, 10)
      this.newTask.start_date = today
    },
    setDefaultStatusId() {
      this.newTask.status_id = 1
    },
    goBack() {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
