<template>
  <div class="container mx-auto px-4 py-8">
    <div class="max-w-lg mx-auto">
      <!-- Устанавливаем максимальную ширину для контента -->
      <h2 class="text-center font-bold text-2xl mb-8">Обновление задачи</h2>
      <form @submit.prevent="updateTask">
        <div class="mb-4">
          <label for="title" class="block mb-1">Название задачи:</label>
          <input
            type="text"
            id="title"
            v-model="updatedTask.title"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
        </div>
        <div class="mb-4">
          <label for="description" class="block mb-1">Описание:</label>
          <textarea
            id="description"
            v-model="updatedTask.description"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          ></textarea>
        </div>

        <div class="mb-4">
          <label for="created_by" class="block mb-1">Создана пользователем:</label>
          <select
            id="created_by"
            v-model="updatedTask.created_by"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          >
            <option v-for="user in users" :key="user.user_id" :value="user.user_id">
              {{ user.username }}
            </option>
          </select>
        </div>
        <div class="mb-4">
          <label for="start_date" class="block mb-1">Дата начала:</label>
          <input
            type="date"
            id="start_date"
            v-model="updatedTask.start_date"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
          <div class="mb-4">
            <label for="deadline" class="block mb-1">Срок выполнения:</label>
            <input
              type="date"
              id="deadline"
              v-model="updatedTask.deadline"
              required
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
            />
          </div>
        </div>
        <div class="mb-4">
          <label for="status_id" class="block mb-1">Статус задачи:</label>
          <select
            id="status_id"
            v-model="updatedTask.status_id"
            required
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300"
          >
            <option v-for="status in statuses" :key="status.status_id" :value="status.status_id">
              {{ status.name }}
            </option>
          </select>
        </div>
        <div class="flex justify-center items-center mb-4">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
          >
            Обновить задачу
          </button>
          <button
            @click="goBack"
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
          >
            Назад
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRoute, useRouter } from 'vue-router'

const updatedTask = ref({
  title: '',
  description: '',
  deadline: '',
  created_by: null,
  start_date: '',
  status_id: null
})
const users = ref([])
const statuses = ref([])

const route = useRoute()
const router = useRouter()

const fetchTask = async () => {
  try {
    const task_id = route.params.task_id
    if (!task_id) {
      console.error('task_id is not defined in the route parameters')
      return
    }
    const response = await api.get(`/tasks/${task_id}`)
    if (response.status === 200) {
      const taskData = response.data
      updatedTask.value = {
        ...taskData,
        deadline: formatDate(taskData.deadline),
        start_date: formatDate(taskData.start_date)
      }
      await fetchUsers()
      await fetchStatuses()
    } else {
      throw new Error('Error fetching task data')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchUsers = async () => {
  try {
    const response = await api.get('/user')
    if (response.status === 200) {
      users.value = response.data
    } else {
      console.error('Error fetching users:', response.statusText)
    }
  } catch (error) {
    console.error('Error fetching users:', error)
  }
}

const fetchStatuses = async () => {
  try {
    const response = await api.get('/status')
    if (response.status === 200) {
      statuses.value = response.data
    } else {
      console.error('Error fetching statuses:', response.statusText)
    }
  } catch (error) {
    console.error('Error fetching statuses:', error)
  }
}

const updateTask = async () => {
  try {
    const task_id = route.params.task_id
    if (!task_id) {
      console.error('task_id is not defined in the route parameters')
      return
    }
    const response = await api.put(`/tasks/${task_id}`, updatedTask.value)
    if (response.status === 200) {
      console.log('Task updated successfully:', response.data)
      router.push(`/tasks/${task_id}`)
    } else {
      throw new Error('Error updating task')
    }
  } catch (error) {
    console.error('Error updating task:', error)
  }
}

const goBack = () => {
  router.back()
}

const formatDate = (date) => {
  const d = new Date(date)
  const year = d.getFullYear()
  let month = '' + (d.getMonth() + 1)
  let day = '' + d.getDate()

  if (month.length < 2) month = '0' + month
  if (day.length < 2) day = '0' + day

  return [year, month, day].join('-')
}

onMounted(() => {
  fetchTask()
})
</script>

<style scoped>
/* Стили для компонента */
</style>
