<template>
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-col items-center">
      <!-- Используем flexbox для центрирования контента -->
      <h1 class="text-center font-bold text-2xl mb-8">Детальная информация о задаче</h1>
      <div class="mb-4">
        <p><strong>Название:</strong> {{ task.title }}</p>
        <p><strong>Дата создания:</strong> {{ formatDate(task.start_date) }}</p>
        <p><strong>Крайний срок:</strong> {{ formatDate(task.deadline) }}</p>
        <p><strong>Постановщик:</strong> {{ displayCreatedBy(task.created_by) }}</p>
        <div class="mb-4 text-left"><strong>Описание:</strong> {{ task.description }}</div>
        <div class="mb-4 text-left">
          <strong>Статус:</strong> {{ displayStatus(task.status_id) }}
        </div>
      </div>

      <div class="flex justify-center">
        <!-- Центрируем кнопки -->
        <button
          @click="goBack"
          class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mr-4"
        >
          Назад
        </button>
        <router-link
          :to="{ name: 'TaskUpdate', params: { task_id: task.id } }"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
        >
          Изменить задачу
        </router-link>
        <button
          @click="showDeleteConfirmation = true"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Удалить задачу
        </button>
      </div>
    </div>
  </div>
  <!-- Модальное окно подтверждения удаления -->
  <div
    v-if="showDeleteConfirmation"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <h2 class="text-lg font-semibold mb-4">Вы уверены, что хотите удалить эту задачу?</h2>
      <div class="flex justify-end">
        <button
          @click="cancelDelete"
          class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Отмена
        </button>
        <button
          @click="confirmDelete"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRoute } from 'vue-router'
import router from '@/router'

const task = ref({})
const users = ref({})
const statuses = ref({})

const route = useRoute()

const showDeleteConfirmation = ref(false)

// Подтверждение удаления задачи
const confirmDelete = () => {
  showDeleteConfirmation.value = false
  deleteTask()
}

// Отмена удаления задачи
const cancelDelete = () => {
  showDeleteConfirmation.value = false
}

// Удаление задачи
const deleteTask = async () => {
  try {
    const task_id = route.params.task_id
    const response = await api.delete(`/tasks/${task_id}`)
    if (response.status === 204) {
      console.log('Task deleted successfully')
      // Перенаправляем пользователя на страницу списка задач после удаления
      router.push('/tasks')
    } else {
      console.error('Error deleting task: Unexpected response status')
    }
  } catch (error) {
    console.error('Error deleting task:', error)
  }
}

const fetchTask = async () => {
  try {
    const task_id = route.params.task_id
    if (!task_id) {
      console.error('task_id is not defined in the route parameters')
      return
    }
    const response = await api.get(`/tasks/${task_id}`)
    if (response.status === 200) {
      task.value = response.data
      await fetchUsersForTasks()
      await fetchStatusesForTasks()
    } else {
      throw new Error('Error fetching task data')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchUsersForTasks = async () => {
  try {
    const userIds = [task.value.created_by]
    for (const userId of userIds) {
      console.log(`Fetching user data with ID ${userId}`)
      const response = await api.get(`/user/${userId}`)
      if (response.status === 200) {
        const user = response.data
        users.value[userId] = user
      } else {
        console.error(`Error fetching user data with ID ${userId}`)
      }
    }
  } catch (error) {
    console.error('Error fetching user data:', error)
  }
}

const fetchStatusesForTasks = async () => {
  try {
    const taskIds = [task.value.status_id]
    const statusPromises = taskIds.map((status_id) => api.get(`/status/${status_id}`))
    const statusesData = await Promise.all(statusPromises)
    statuses.value = statusesData.map((status) => status.data)
  } catch (error) {
    console.error('Error fetching task statuses:', error)
  }
}

onMounted(() => {
  fetchTask()
})

const displayCreatedBy = (userId) => {
  const user = users.value[userId]
  if (user) {
    return `${user.username} (${user.email})`
  } else {
    return 'Unknown'
  }
}

const displayStatus = (status_id) => {
  if (Array.isArray(statuses.value)) {
    const statusItem = statuses.value.find((item) => item.status_id === status_id)
    if (statusItem) {
      return statusItem.name
    } else {
      return 'Unknown'
    }
  } else {
    return 'Statuses data not available'
  }
}

const goBack = () => {
  router.back()
}

const formatDate = (dateString) => {
  const date = new Date(dateString)
  const options = { year: 'numeric', month: 'numeric', day: 'numeric' }
  return date.toLocaleDateString('ru-RU', options)
}
</script>
