<template>
  <div class="mx-auto max-w-md">
    <h2 class="text-2xl font-bold mb-4">Обновление вакансии</h2>
    <form @submit.prevent="updateVacancy" class="space-y-4">
      <div>
        <label for="title" class="block text-sm font-medium text-gray-700">Заголовок:</label>
        <input
          type="text"
          id="title"
          v-model="formData.title"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      <div>
        <label for="description" class="block text-sm font-medium text-gray-700">Описание:</label>
        <textarea
          id="description"
          v-model="formData.description"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        ></textarea>
      </div>
      <div>
        <label for="date" class="block text-sm font-medium text-gray-700">Дата:</label>
        <input
          type="date"
          id="date"
          v-model="formData.date"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      <div>
        <label for="hh_link" class="block text-sm font-medium text-gray-700"
          >Ссылка на HeadHunter:</label
        >
        <input
          type="text"
          id="hh_link"
          v-model="formData.hh_link"
          required
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-50"
      >
        Обновить вакансию
      </button>
    </form>
    <button
      @click="goBack"
      class="mt-4 mb-8 bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mx-auto block"
    >
      Назад
    </button>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const formData = ref({
  title: '',
  description: '',
  date: '',
  hh_link: ''
})

const router = useRouter()
const route = useRoute()

onMounted(async () => {
  try {
    const response = await api.get(`/vacancy/${route.params.vacancy_id}`)
    if (response.status === 200) {
      const vacancyData = response.data
      formData.value.title = vacancyData.title
      formData.value.description = vacancyData.description
      // Приводим дату к формату "yyyy-MM-dd"
      formData.value.date = new Date(vacancyData.date).toISOString().split('T')[0]
      formData.value.hh_link = vacancyData.hh_link
    } else {
      throw new Error('Ошибка при загрузке данных о вакансии для обновления')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке данных о вакансии для обновления')
  }
})

const updateVacancy = async () => {
  try {
    const formDataCopy = { ...formData.value }
    // Преобразуем дату обратно в формат "yyyy-MM-dd"
    formDataCopy.date = new Date(formDataCopy.date).toISOString().split('T')[0]
    const response = await api.put(`/vacancy/${route.params.vacancy_id}`, formDataCopy)
    if (response.status === 200) {
      alert('Вакансия успешно обновлена')
      router.push(`/job/${route.params.vacancy_id}`)
    } else {
      throw new Error('Ошибка при обновлении вакансии')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при обновлении вакансии')
  }
}
const goBack = () => {
  router.go(-1)
}
</script>

<style scoped></style>
