<template>
  <div class="mx-auto max-w-md">
    <h2 class="text-2xl font-bold mb-4">Детали вакансии</h2>
    <div v-if="vacancy" class="space-y-4">
      <h3 class="text-xl font-bold">{{ vacancy.title }}</h3>
      <p class="text-gray-700">{{ vacancy.description }}</p>
      <p class="text-gray-700">Дата публикации: {{ formatDate(vacancy.date) }}</p>
      <p class="text-gray-700">
        Ссылка на HeadHunter:
        <a :href="vacancy.hh_link" class="text-blue-500 hover:underline">{{ vacancy.hh_link }}</a>
      </p>
      <button
        v-if="isRoleAllowed"
        @click="goToUpdateVacancy"
        class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-50"
      >
        Обновить вакансию
      </button>
      <button
        v-if="isRoleAllowed"
        @click="openDeleteConfirmation"
        class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50"
      >
        Удалить вакансию
      </button>
    </div>
    <div v-else>
      <p>Вакансия не найдена</p>
    </div>

    <!-- Модальное окно подтверждения удаления -->
    <div
      v-if="showModal"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="bg-white p-8 rounded-md">
        <p class="text-lg font-semibold">Вы уверены, что хотите удалить эту вакансию?</p>
        <div class="mt-4 flex justify-end">
          <button
            @click="confirmDeleteVacancy"
            class="bg-red-500 text-white py-2 px-4 rounded-md mr-4 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            Да
          </button>
          <button
            @click="closeDeleteConfirmation"
            class="bg-gray-200 text-gray-800 py-2 px-4 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-50"
          >
            Отмена
          </button>
        </div>
      </div>
    </div>

    <button
      @click="backToJobs"
      class="mt-4 bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-50"
    >
      Вернуться к списку вакансий
    </button>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter, useRoute } from 'vue-router'

const vacancy = ref(null)
const router = useRouter()
const route = useRoute()
const showModal = ref(false)

// Получение значения role_id из localStorage
const roleId = localStorage.getItem('role_id')

// Проверка разрешений на действия
const isRoleAllowed = roleId === '1' || roleId === '2'

// Переход к обновлению вакансии
const goToUpdateVacancy = () => {
  router.push({ name: 'jobUpdate', params: { vacancy_id: route.params.vacancy_id } })
}

// Функция для удаления вакансии
const deleteVacancy = async () => {
  try {
    const response = await api.delete(`/vacancy/${route.params.vacancy_id}`)
    if (response.status === 204) {
      console.log('Вакансия успешно удалена')
      return true
    } else {
      console.error('Ошибка при удалении вакансии: неверный статус ответа', response.status)
      throw new Error('Ошибка при удалении вакансии')
    }
  } catch (error) {
    console.error('Ошибка при удалении вакансии:', error)
    alert('Произошла ошибка при удалении вакансии')
    return false
  }
}

// Подтверждение удаления вакансии
const confirmDeleteVacancy = async () => {
  const success = await deleteVacancy()
  if (success) {
    router.push('/job')
  }
}

// Форматирование даты
const formatDate = (date) => {
  const options = { year: 'numeric', month: 'long', day: 'numeric' }
  return new Date(date).toLocaleDateString('ru-RU', options)
}

// Переход к списку вакансий
const backToJobs = () => {
  router.push('/job')
}

// Открытие модального окна подтверждения удаления
const openDeleteConfirmation = () => {
  showModal.value = true
}

// Закрытие модального окна подтверждения удаления
const closeDeleteConfirmation = () => {
  showModal.value = false
}

// Загрузка данных о вакансии при монтировании компонента
onMounted(async () => {
  try {
    const response = await api.get(`/vacancy/${route.params.vacancy_id}`)
    if (response.status === 200) {
      vacancy.value = response.data
    } else {
      console.error('Ошибка при загрузке вакансии: неверный статус ответа', response.status)
      router.replace('/404') // Перенаправление на страницу 404, если вакансия не найдена
    }
  } catch (error) {
    console.error('Ошибка при загрузке данных о вакансии:', error)
    alert('Произошла ошибка при загрузке данных о вакансии')
  }
})
</script>
