<template>
  <div class="content-wrapper">
    <header class="bg-blue-500 py-4">
      <div class="container mx-auto flex justify-between items-center relative">
        <div class="flex items-center">
          <h1 class="text-white text-3xl">
            <router-link to="/">Мебельный магазин</router-link>
          </h1>
          <button
            @click="toggleLeftMenu"
            class="block md:hidden text-white px-4 py-2 focus:outline-none rounded-md bg-blue-500 hover:bg-blue-600 transition duration-300 shadow-md m-8"
          >
            Меню
          </button>
        </div>

        <div class="user-info flex items-center border border-solid rounded-none">
          <router-link v-if="!isAuthenticated" to="/sign" class="text-white px-4 py-2 block"
            >Вход</router-link
          >
          <div v-if="isAuthenticated" class="flex items-center">
            <router-link v-if="user" to="/personal" class="text-white px-4 py-2 block">
              <p class="mr-2">{{ user.username }}</p>
              <p class="mr-2">[{{ user.role_name }}]</p>
            </router-link>
            <p v-else class="text-white px-4 py-2 block">Данные пользователя не загружены</p>
            <button @click="logout" class="text-white px-4 py-2 bg-red-500 rounded">Выход</button>
          </div>
        </div>
      </div>

      <div class="container mx-auto">
        <div class="menu md:block hidden border">
          <nav class="flex justify-between" :style="{ 'flex-wrap': 'wrap' }">
            <div class="dropdown relative">
              <a href="#" class="text-white px-4 py-2 block">
                <router-link to="/company">О компании</router-link>
              </a>
              <ul class="dropdown-menu absolute bg-green-500 mt-2 rounded-lg hidden">
                <li>
                  <router-link to="/company" class="text-white px-4 py-2 block"
                    >О компании</router-link
                  >
                </li>
                <li>
                  <router-link to="/history" class="text-white px-4 py-2 block"
                    >История</router-link
                  >
                </li>
                <li>
                  <router-link to="/management" class="text-white px-4 py-2 block"
                    >Руководство</router-link
                  >
                </li>
                <li>
                  <router-link to="/job" class="text-white px-4 py-2 block">Вакансии</router-link>
                </li>
                <li>
                  <router-link to="/mission" class="text-white px-4 py-2 block"
                    >Миссия и стратегия</router-link
                  >
                </li>
                <li>
                  <router-link to="/review" class="text-white px-4 py-2 block">Отзывы</router-link>
                </li>
              </ul>
            </div>

            <router-link to="/news" class="text-white px-4 py-2 block">Новости</router-link>
            <div class="dropdown relative">
              <a href="#" class="text-white px-4 py-2 block">Услуги и акции</a>
              <ul class="dropdown-menu absolute bg-green-500 mt-2 rounded-lg hidden">
                <li>
                  <router-link to="/services" class="text-white px-4 py-2 block"
                    >Услуги</router-link
                  >
                </li>
                <li>
                  <router-link to="/promotions" class="text-white px-4 py-2 block"
                    >Акции</router-link
                  >
                </li>
              </ul>
            </div>

            <router-link v-if="isRoleValidVisible" to="/tasks" class="text-white px-4 py-2 block"
              >Задачи</router-link
            >
            <router-link
              v-if="isRoleValidVisible"
              to="/applications"
              class="text-white px-4 py-2 block"
              >Заявки</router-link
            >

            <router-link v-if="isRoleValidVisible" to="/users" class="text-white px-4 py-2 block"
              >Пользователи</router-link
            >
            <div class="dropdown relative">
              <a href="#" class="text-white px-4 py-2 block">
                <router-link to="/partners">Партнёрам</router-link>
              </a>
              <ul class="dropdown-menu absolute bg-green-500 mt-2 rounded-lg hidden">
                <li>
                  <router-link to="/blogs" class="text-white px-4 py-2 block">События</router-link>
                </li>
                <li>
                  <router-link to="/partnernew" class="text-white px-4 py-2 block"
                    >Как стать партнером</router-link
                  >
                </li>
              </ul>
            </div>

            <router-link to="/products" class="text-white px-4 py-2 block">Каталог</router-link>
            <router-link to="/applicationscreate" class="text-white px-4 py-2 block"
              >Контакты</router-link
            >
          </nav>
        </div>
      </div>
    </header>

    <!-- Левое меню -->
    <nav v-show="leftMenuOpen" class="md:hidden absolute inset-y-0 left-0 bg-blue-500 py-4 px-8">
      <button
        @click="toggleLeftMenu"
        class="text-white px-4 py-2 block mb-4 rounded-md bg-red-500 hover:bg-red-600 focus:outline-none focus:bg-red-600"
      >
        Закрыть меню
      </button>

      <ul>
        <li>
          <router-link to="/company" class="text-white px-4 py-2 block">О компании</router-link>
        </li>
        <router-link to="/history" class="text-white px-4 py-2 block">
          <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span>
          История
        </router-link>
        <li>
          <router-link to="/history" class="text-white px-4 py-2 block">
            <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span
            >Руководство</router-link
          >
        </li>
        <li>
          <router-link to="/history" class="text-white px-4 py-2 block">
            <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span
            >Вакансии</router-link
          >
        </li>
        <li>
          <router-link to="/history" class="text-white px-4 py-2 block">
            <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span>Миссия и
            стратегия</router-link
          >
        </li>
        <li>
          <router-link to="/history" class="text-white px-4 py-2 block">
            <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span
            >Отзывы</router-link
          >
        </li>
        <li>
          <router-link to="/news" class="text-white px-4 py-2 block">Новости</router-link>
        </li>
        <li>
          <router-link to="/services" class="text-white px-4 py-2 block">Услуги</router-link>
        </li>
        <li>
          <router-link to="/promotions" class="text-white px-4 py-2 block">Акции</router-link>
        </li>
        <li v-if="isRoleValidVisible">
          <router-link to="/tasks" class="text-white px-4 py-2 block">Задачи</router-link>
        </li>
        <li v-if="isRoleValidVisible">
          <router-link to="/applications" class="text-white px-4 py-2 block">Заявки</router-link>
        </li>
        <li v-if="isRole1ValidVisible">
          <router-link to="/users" class="text-white px-4 py-2 block">Пользователи</router-link>
        </li>
        <li>
          <router-link to="/partners" class="text-white px-4 py-2 block">Партнёрам</router-link>
        </li>
        <li>
          <router-link to="/history" class="text-white px-4 py-2 block">
            <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span
            >События</router-link
          >
        </li>
        <li>
          <router-link to="/history" class="text-white px-4 py-2 block">
            <span class="inline-block bg-gray-700 rounded-full h-2 w-2 mr-2"></span>Как стать
            партнером</router-link
          >
        </li>
        <li>
          <router-link to="/products" class="text-white px-4 py-2 block">Каталог</router-link>
        </li>
        <li>
          <router-link to="/applicationscreate" class="text-white px-4 py-2 block"
            >Контакты</router-link
          >
        </li>
      </ul>
    </nav>
    <div class="centered-content">
      <router-view />
      <FooterMenu />
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import api from './api.js'
import FooterMenu from '@/modules/leftmenu/FootterMenu.vue'

export default {
  components: {
    FooterMenu
  },
  data() {
    return {
      isAuthenticated: false,
      user: null,
      leftMenuOpen: false // Состояние для отображения/скрытия левого меню в мобильном режиме
    }
  },
  setup() {
    const isRoleValidVisible = ref(false)
    const isRole1ValidVisible = ref(false)

    const isRoleValid = async () => {
      const roleId = localStorage.getItem('role_id')
      return roleId === '2' || roleId === '1'
    }

    const isRole1Valid = async () => {
      const roleId = localStorage.getItem('role_id')
      return roleId === '1'
    }

    const checkRoleValidity = async () => {
      // Сначала проверяем роль 1
      isRole1ValidVisible.value = await isRole1Valid()
      // Затем проверяем общую валидность ролей
      isRoleValidVisible.value = await isRoleValid()
    }

    checkRoleValidity()

    return {
      isRole1ValidVisible,
      isRoleValidVisible
    }
  },
  mounted() {
    this.checkAuthentication()
  },
  methods: {
    async checkAuthentication() {
      const user_id = localStorage.getItem('user_id')
      if (user_id) {
        try {
          const response = await api.get(`/user/${user_id}`)
          this.user = response.data
          this.isAuthenticated = true
          // Call method to get additional user information
          await this.addAdditionalInfo()
        } catch (error) {
          console.error('Error fetching user information:', error)
        }
      }
    },
    async addAdditionalInfo() {
      try {
        const role_id = localStorage.getItem('role_id')
        if (!role_id) {
          throw new Error('role_id not found in Local Storage')
        }

        const roleResponse = await api.get(`/roles/${role_id}`)
        if (roleResponse.status === 200) {
          // Save role name in user property
          this.user.role_name = roleResponse.data.role_name
        } else {
          throw new Error('Error fetching role information')
        }
      } catch (error) {
        console.error('Error fetching additional information:', error)
      }
    },

    async logout() {
      console.log('Logout successful')
      localStorage.removeItem('user_id')
      localStorage.removeItem('token')
      localStorage.removeItem('role_id')
      this.isAuthenticated = false
      this.user = null
    },
    toggleLeftMenu() {
      this.leftMenuOpen = !this.leftMenuOpen // Изменяем состояние открытия/закрытия левого меню
    }
  }
}
</script>

<style scoped>
.user-info {
  padding: 0.5rem 0;
}

.user-info a,
.user-info button {
  margin-right: 0.5rem;
}

.user-info p {
  margin-right: 0.5rem;
}
.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-right: 1rem;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu ul li a:hover {
  background-color: #007200;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  z-index: 999;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.centered-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  overflow-y: auto; /* Добавьте это свойство для разрешения прокрутки */
  max-height: calc(100vh - 120px);
}
</style>
