<template>
  <div class="container mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Создание новой акции</h2>
    <form @submit.prevent="createPromotion" class="max-w-lg mx-auto">
      <div class="mb-4">
        <label for="name" class="block font-semibold mb-2">Название:</label>
        <input
          type="text"
          id="name"
          v-model="formData.name"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="description" class="block font-semibold mb-2">Описание:</label>
        <textarea
          id="description"
          v-model="formData.description"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="start_date" class="block font-semibold mb-2">Начало акции:</label>
        <input
          type="date"
          id="start_date"
          v-model="formData.start_date"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="end_date" class="block font-semibold mb-2">Окончание акции:</label>
        <input
          type="date"
          id="end_date"
          v-model="formData.end_date"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="image" class="block font-semibold mb-2">Изображение:</label>
        <input type="file" id="image" @change="handleImageChange" accept="image/*" class="w-full" />
      </div>
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Создать акцию
      </button>
    </form>
    <!-- Кнопка "Назад" -->
    <div class="text-center mt-4">
      <button
        @click="goBack"
        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
      >
        Назад
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const router = useRouter()
const formData = ref({
  name: '',
  description: '',
  start_date: '',
  end_date: '',
  image: null
})

const createPromotion = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.post('/promotions', formDataCopy)
    if (response.status === 201) {
      console.log('Акция успешно создана')
      router.push('/promotions')
    } else {
      throw new Error('Ошибка при создании акции')
    }
  } catch (error) {
    console.error(error)
  }
}

const handleImageChange = (event) => {
  const files = event.target.files
  if (files.length > 0) {
    const file = files[0]
    const reader = new FileReader()

    reader.onloadend = () => {
      formData.value.image = reader.result
    }

    reader.readAsDataURL(file)
  }
}

const goBack = () => {
  router.go(-1)
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
