<template>
  <div v-if="promotion" class="text-center">
    <h2 class="text-2xl font-bold mb-4">{{ promotion.name }}</h2>

    <div class="flex flex-row items-start">
      <!-- Изображение слева -->
      <img
        :src="getImageUrl(promotion.image_url)"
        alt="Изображение акции"
        class="w-40 h-auto mr-4"
      />

      <!-- Текст справа -->
      <div>
        <p><strong>Начало акции:</strong> {{ formatDate(promotion.start_date) }}</p>
        <p><strong>Окончание акции:</strong> {{ formatDate(promotion.end_date) }}</p>
        <p><strong>Описание:</strong> {{ promotion.description }}</p>
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <button
        @click="goBack"
        class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded mr-4"
      >
        Назад
      </button>
      <button
        v-if="isRoleValid()"
        @click="goToUpdate"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
      >
        Редактировать акцию
      </button>
      <button
        v-if="isRoleValid()"
        @click="deletePromotion"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      >
        Удалить акцию
      </button>
    </div>
  </div>
  <div v-else class="text-center">
    <p>Загрузка информации об акции...</p>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const promotion = ref(null)
const router = useRouter()

const fetchPromotion = async () => {
  try {
    const { promotion_id } = router.currentRoute.value.params
    const response = await api.get(`/promotions/${promotion_id}`)
    if (response.status === 200) {
      promotion.value = response.data
    } else {
      throw new Error('Ошибка при загрузке информации об акции')
    }
  } catch (error) {
    console.error(error)
  }
}

const formatDate = (dateString) => {
  const date = new Date(dateString)
  const options = { day: '2-digit', month: 'long', year: 'numeric' }
  return date.toLocaleDateString('ru-RU', options)
}

const goBack = () => {
  router.go(-1)
}

const goToUpdate = () => {
  const { promotion_id } = router.currentRoute.value.params
  router.push({ name: 'promotionsUpdate', params: { promotion_id } })
}

const deletePromotion = async () => {
  try {
    const { promotion_id } = router.currentRoute.value.params
    const response = await api.delete(`/promotions/${promotion_id}`)
    if (response.status === 204) {
      console.log('Акция успешно удалена')
      router.push('/promotions')
    } else {
      throw new Error('Ошибка при удалении акции')
    }
  } catch (error) {
    console.error(error)
  }
}

const getImageUrl = (imageUrl) => {
  if (imageUrl) {
    return api.getUri() + '/static/' + imageUrl
  } else {
    return '../static/prom.jpg'
  }
}

const isRoleValid = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

onMounted(() => {
  fetchPromotion()
})
</script>

<style scoped></style>
