<template>
  <div class="container mx-auto py-8 px-4">
    <h2 class="text-2xl text-center font-bold mb-4">Редактирование акции</h2>
    <form @submit.prevent="updatePromotion" class="max-w-lg mx-auto">
      <div class="mb-4">
        <label for="name" class="block font-semibold mb-2">Название:</label>
        <input
          type="text"
          id="name"
          v-model="formData.name"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="description" class="block font-semibold mb-2">Описание:</label>
        <textarea
          id="description"
          v-model="formData.description"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        ></textarea>
      </div>
      <div class="mb-4">
        <label for="start_date" class="block font-semibold mb-2">Начало акции:</label>
        <input
          type="date"
          id="start_date"
          v-model="formData.start_date"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="end_date" class="block font-semibold mb-2">Окончание акции:</label>
        <input
          type="date"
          id="end_date"
          v-model="formData.end_date"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label for="image" class="block font-semibold mb-2">Фото:</label>
        <input type="file" id="image" accept="image/*" @change="handleImageChange" class="w-full" />
      </div>
      <div class="flex justify-between">
        <button
          @click="goBack"
          class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
        >
          Назад
        </button>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Сохранить изменения
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../../api.js'
import { useRouter } from 'vue-router'

const formData = ref({
  name: '',
  description: '',
  start_date: '',
  end_date: '',
  image: null
})
const router = useRouter()

const fetchPromotion = async () => {
  try {
    const { promotion_id } = router.currentRoute.value.params
    const response = await api.get(`/promotions/${promotion_id}`)
    if (response.status === 200) {
      const promotionData = response.data
      formData.value.name = promotionData.name
      formData.value.description = promotionData.description
      formData.value.start_date = promotionData.start_date.split('T')[0]
      formData.value.end_date = promotionData.end_date.split('T')[0]
    } else {
      throw new Error('Ошибка при загрузке информации об акции')
    }
  } catch (error) {
    console.error(error)
  }
}

const updatePromotion = async () => {
  try {
    const { promotion_id } = router.currentRoute.value.params
    //const formDataToSubmit = new FormData()
    //formDataToSubmit.append('name', formData.value.name)
    //formDataToSubmit.append('description', formData.value.description)
    //formDataToSubmit.append('start_date', formData.value.start_date)
    //formDataToSubmit.append('end_date', formData.value.end_date)
    //formDataToSubmit.append('image', formData.value.image)

    const response = await api.put(`/promotions/${promotion_id}`, {
      name: formData.value.name,
      description: formData.value.description,
      start_date: formData.value.start_date,
      end_date: formData.value.end_date,
      image: formData.value.image
    })
    if (response.status === 200) {
      console.log('Акция успешно обновлена')
      router.push({ name: 'promotionsDetail', params: { promotion_id } })
    } else {
      throw new Error('Ошибка при обновлении акции')
    }
  } catch (error) {
    console.error(error)
  }
}

const goBack = () => {
  router.go(-1)
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

onMounted(() => {
  fetchPromotion()
})
</script>

<style scoped></style>
