<template>
  <div class="container mx-auto px-4 py-8">
    <div v-if="management" class="mb-8">
      <div v-if="user" class="mt-4 flex justify-center">
        <div class="flex-shrink-0">
          <div class="ml-4">
            <img
              :src="getUserImageUrl(user.avatar_url)"
              alt="Аватар пользователя"
              class="avatar mt-4"
            />
          </div>
        </div>
        <div class="ml-4">
          <strong>ФИО:</strong> {{ user.username }} <br />
          <strong v-if="user.position_name">Должность:</strong>
          <span v-if="user.position_name">{{ user.position_name }}</span>
          <span v-else>Информация о должности отсутствует</span><br />
          <strong>Описание:</strong><br />
          {{ management.description }} <br />
        </div>
      </div>

      <div v-else class="mt-4">Загрузка информации о пользователе...</div>
    </div>
    <div v-else class="mt-4">Загрузка информации об управлении...</div>
    <div class="mt-8">
      <button
        @click="goBack"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 mr-4"
      >
        Вернуться назад
      </button>
      <button
        v-if="isRoleValid"
        @click="goToUpdatePage"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4"
      >
        Обновить запись
      </button>
    </div>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      management: null,
      user: null,
      isRoleValid: false
    }
  },
  created() {
    this.fetchManagement()
    this.checkRoleValidity()
  },
  methods: {
    async fetchManagement() {
      const managementId = this.$route.params.management_id
      try {
        const response = await api.get(`/management/${managementId}`)
        this.management = response.data
        await this.fetchUserData(this.management.user_id)
      } catch (error) {
        console.error('Ошибка при загрузке данных управления:', error)
        alert('Произошла ошибка при загрузке данных управления.')
      }
    },
    async fetchUserData(userId) {
      try {
        const response = await api.get(`/user/${userId}`)
        this.user = response.data
        await this.fetchPositionInfo(this.user)
      } catch (error) {
        console.error('Ошибка при загрузке данных пользователя:', error)
        alert('Произошла ошибка при загрузке данных пользователя.')
      }
    },
    async fetchPositionInfo(user) {
      try {
        const response = await api.get(`/positions/${user.position_id}`)
        if (response.status === 200) {
          user.position_name = response.data.position_name
        } else {
          user.position_name = 'Информация о должности отсутствует'
        }
      } catch (error) {
        console.error('Ошибка при получении информации о должности:', error)
        user.position_name = 'Ошибка при получении информации о должности'
      }
    },
    getUserImageUrl(avatarUrl) {
      return avatarUrl ? api.getUri() + '/static/' + avatarUrl : '../static/user.jpg'
    },
    goBack() {
      this.$router.go(-1)
    },
    goToUpdatePage() {
      this.$router.push({ name: 'managementUpdate', params: { management_id: this.management.id } })
    },
    async checkRoleValidity() {
      const roleId = localStorage.getItem('role_id')
      this.isRoleValid = roleId === '1' || roleId === '2'
    }
  }
}
</script>

<style scoped>
.avatar {
  max-width: 200px;
}
</style>
