<template>
  <div class="p-4">
    <h1 class="text-2xl font-semibold mb-4">Добавление записи в таблицу management</h1>
    <form @submit.prevent="addEntry">
      <div class="mb-4">
        <label for="user_id" class="block">Выберите пользователя:</label>
        <select
          id="user_id"
          v-model="newEntry.user_id"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        >
          <option v-for="user in users" :key="user.user_id" :value="user.user_id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label for="description" class="block">Описание:</label>
        <textarea
          id="description"
          v-model="newEntry.description"
          rows="4"
          cols="50"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        ></textarea>
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Добавить запись
        </button>
        <button
          @click="goBack"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
        >
          Вернуться назад
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      newEntry: {
        description: '',
        user_id: null
      },
      users: []
    }
  },
  async created() {
    await this.fetchUsers()
  },
  methods: {
    async fetchUsers() {
      try {
        const response = await api.get('/user')
        this.users = response.data
      } catch (error) {
        console.error('Ошибка при загрузке списка пользователей:', error)
        alert(
          'Произошла ошибка при загрузке списка пользователей. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    async addEntry() {
      try {
        const response = await api.post('/management', this.newEntry)
        console.log('Новая запись успешно добавлена в таблицу management:', response.data)
        alert('Запись успешно добавлена в таблицу management!')
        this.newEntry = {
          description: '',
          user_id: null
        }
      } catch (error) {
        console.error('Ошибка при добавлении записи в таблицу management:', error)
        alert(
          'Произошла ошибка при добавлении записи в таблицу management. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },
    goBack() {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
