<template>
  <div class="p-4">
    <h1 class="text-2xl font-semibold mb-4">Обновление записи в таблице management</h1>
    <form @submit.prevent="updateEntry">
      <div class="mb-4">
        <label for="user_id" class="block">Выберите пользователя:</label>
        <select
          id="user_id"
          v-model="updatedEntry.user_id"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        >
          <option v-if="users.length === 0" disabled>Загрузка...</option>
          <option v-else v-for="user in users" :key="user.user_id" :value="user.user_id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label for="description" class="block">Описание:</label>
        <textarea
          id="description"
          v-model="updatedEntry.description"
          rows="4"
          cols="50"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        ></textarea>
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Обновить запись
        </button>
        <button
          type="button"
          @click="openDeleteConfirmation"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
        >
          Удалить запись
        </button>
        <button
          type="button"
          @click="goBack"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
        >
          Вернуться назад
        </button>
      </div>
    </form>

    <!-- Модальное окно подтверждения удаления -->
    <div
      class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-75"
      v-if="showModal"
    >
      <div class="bg-white p-8 rounded-lg">
        <p class="mb-4">Вы уверены, что хотите удалить эту запись?</p>
        <div class="flex justify-between">
          <button
            @click="deleteEntry"
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
          >
            Да
          </button>
          <button
            @click="closeDeleteConfirmation"
            class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
          >
            Отмена
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      updatedEntry: {
        description: '',
        user_id: null,
        id: null
      },
      users: [],
      showModal: false // Флаг для отображения/скрытия модального окна
    }
  },
  async created() {
    await this.fetchUsers()
    this.updatedEntry.id = this.$route.params.management_id
    await this.fetchUserData()
  },
  methods: {
    async fetchUsers() {
      try {
        const response = await api.get('/user')
        this.users = response.data
      } catch (error) {
        console.error('Ошибка при загрузке списка пользователей:', error)
        alert('Произошла ошибка при загрузке списка пользователей.')
      }
    },
    async fetchUserData() {
      try {
        const response = await api.get(`/management/${this.updatedEntry.id}`)
        const managementData = response.data
        const userResponse = await api.get(`/user/${managementData.user_id}`)
        const userData = userResponse.data
        this.updatedEntry.user_id = userData.user_id
        this.updatedEntry.description = managementData.description
      } catch (error) {
        console.error('Ошибка при загрузке данных пользователя:', error)
        alert('Произошла ошибка при загрузке данных пользователя.')
      }
    },
    async updateEntry() {
      try {
        const response = await api.put(`/management/${this.updatedEntry.id}`, this.updatedEntry)
        console.log('Запись успешно обновлена в таблице management:', response.data)
        alert('Запись успешно обновлена в таблице management!')
        this.goBack()
      } catch (error) {
        console.error('Ошибка при обновлении записи в таблице management:', error)
        alert('Произошла ошибка при обновлении записи в таблице management.')
      }
    },
    openDeleteConfirmation() {
      this.showModal = true
    },
    closeDeleteConfirmation() {
      this.showModal = false
    },
    async deleteEntry() {
      try {
        const response = await api.delete(`/management/${this.updatedEntry.id}`)
        console.log('Запись успешно удалена из таблицы management:', response.data)
        alert('Запись успешно удалена из таблицы management!')
        this.goBack()
      } catch (error) {
        console.error('Ошибка при удалении записи из таблицы management:', error)
        alert('Произошла ошибка при удалении записи из таблицы management.')
      }
    },
    goBack() {
      this.$router.push({ path: '/management' })
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
