<template>
  <div class="border border-gray-300 rounded-md p-8 max-w-lg mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Добавление нового пользователя</h2>
    <button
      class="w-full bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
      @click="goToUsersPositions"
    >
      Добавить новую должность
    </button>
    <form @submit.prevent="addUser">
      <div class="mb-4 flex flex-col">
        <label for="username" class="mb-1">Имя пользователя:</label>
        <input
          type="text"
          id="username"
          v-model="newUser.username"
          required
          class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4 flex flex-col">
        <label for="email" class="mb-1">Email:</label>
        <input
          type="email"
          id="email"
          v-model="newUser.email"
          required
          class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4 flex flex-col">
        <label for="password" class="mb-1">Пароль:</label>
        <input
          type="password"
          id="password"
          v-model="newUser.password"
          required
          class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4 flex flex-col">
        <label for="role_id" class="mb-1">Роль пользователя:</label>
        <select
          id="role_id"
          v-model="newUser.role_id"
          required
          class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        >
          <option v-for="role in roles" :key="role.role_id" :value="role.role_id">
            {{ role.role_name }}
          </option>
        </select>
      </div>
      <div class="mb-4 flex flex-col">
        <label for="birth_date" class="mb-1">Дата рождения:</label>
        <input
          type="date"
          id="birth_date"
          v-model="newUser.birth_date"
          required
          class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4 flex flex-col">
        <label for="avatar" class="mb-1">Аватар:</label>
        <input
          type="file"
          id="avatar"
          @change="handleImageChange"
          accept="image/*"
          class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4 flex flex-col">
        <div>
          <label for="position_id" class="block">Должность:</label>
          <select
            id="position_id"
            v-model="newUser.position_id"
            required
            class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
          >
            <option v-for="position in positions" :key="position.id" :value="position.id">
              {{ position.position_name }}
            </option>
          </select>
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mb-4"
      >
        Добавить пользователя
      </button>
    </form>
    <button
      class="w-full bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
      @click="goToUsersPage"
    >
      Перейти на страницу списка пользователей
    </button>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      newUser: {
        username: '',
        email: '',
        password: '',
        role_id: null,
        birth_date: '',
        avatar: '',
        position_id: null
      },
      roles: [],
      positions: [] // Исправленное имя массива
    }
  },
  async mounted() {
    await this.fetchRoles()
    await this.fetchPositions()
  },
  methods: {
    async fetchRoles() {
      try {
        const response = await api.get('/roles')
        this.roles = response.data
      } catch (error) {
        console.error('Ошибка при загрузке ролей:', error)
        alert(
          'Произошла ошибка при загрузке ролей. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },

    async fetchPositions() {
      try {
        const response = await api.get('/positions')
        this.positions = response.data // Исправленное присваивание данных о должностях
      } catch (error) {
        console.error('Ошибка при загрузке должностей:', error)
      }
    },

    handleImageChange(event) {
      const file = event.target.files[0]
      const reader = new FileReader()
      reader.onloadend = () => {
        this.newUser.avatar = reader.result
      }
      reader.readAsDataURL(file)
    },

    async addUser() {
      try {
        const response = await api.post('/user', this.newUser)
        console.log('Новый пользователь успешно добавлен:', response.data)
        this.newUser = {
          username: '',
          email: '',
          password: '',
          role_id: null,
          birth_date: '',
          avatar: '',
          position_id: null
        }
      } catch (error) {
        console.error('Ошибка при добавлении пользователя:', error)
        alert(
          'Произошла ошибка при добавлении пользователя. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    },

    goToUsersPage() {
      this.$router.push({ name: 'Users' })
    },
    goToUsersPositions() {
      this.$router.push({ name: 'positions' })
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
