<template>
  <div class="max-w-lg mx-auto">
    <!-- Вопрос о подтверждении удаления пользователя -->
    <div
      v-if="showDeleteConfirmation"
      class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold mb-4">
          Вы уверены, что хотите удалить этого пользователя?
        </h2>
        <div class="flex justify-end">
          <button
            @click="cancelDelete"
            class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded mr-2"
          >
            Отмена
          </button>
          <button
            @click="confirmDelete"
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
          >
            Удалить
          </button>
        </div>
      </div>
    </div>

    <h2 class="text-2xl font-semibold mb-4">Информация о пользователе</h2>
    <div v-if="user" class="mb-4">
      <p><strong>ФИО:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Роль:</strong> {{ user.role_name }}</p>
      <p><strong>Дата рождения:</strong> {{ formatDate(user.birth_date) }}</p>
      <p><strong>Должность:</strong> {{ user.position_name }}</p>

      <img :src="getUserImageUrl(user.avatar_url)" alt="Аватар пользователя" class="imgg" />
      <div class="flex space-x-2 mt-4">
        <button
          @click="goBack"
          class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
        >
          Назад
        </button>
        <button
          @click="goToUpdateUser"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Изменить информацию
        </button>
        <button
          @click="showDeleteConfirmation = true"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
        >
          Удалить пользователя
        </button>
      </div>
    </div>
    <div v-else>
      <p>Загрузка информации о пользователе...</p>
    </div>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      user: null,
      user_id: null,
      showPassword: false,
      showDeleteConfirmation: false // Флаг для отображения модального окна подтверждения удаления
    }
  },
  created() {
    this.user_id = this.$route.params.user_id
    this.getUser()
  },
  methods: {
    async getUser() {
      try {
        const response = await api.get(`/user/${this.user_id}`)
        this.user = response.data
        await this.addAdditionalInfo(this.user)
      } catch (error) {
        console.error('Ошибка при получении информации о пользователе:', error)
      }
    },
    getUserImageUrl(imageUrl) {
      return imageUrl ? api.getUri() + '/static/' + imageUrl : '../static/user.jpg'
    },
    async addAdditionalInfo(user) {
      try {
        const roleResponse = await api.get(`/roles/${user.role_id}`)
        if (roleResponse.status === 200) {
          user.role_name = roleResponse.data.role_name
        } else {
          throw new Error('Ошибка при получении информации о роли')
        }

        const positionResponse = await api.get(`/positions/${user.position_id}`)
        if (positionResponse.status === 200) {
          user.position_name = positionResponse.data.position_name
        } else {
          throw new Error('Ошибка при получении информации о должности')
        }
      } catch (error) {
        console.error('Ошибка при получении дополнительной информации:', error)
      }
    },
    async deleteUser() {
      // Открыть модальное окно подтверждения удаления
      this.showDeleteConfirmation = true
    },
    confirmDelete() {
      // Закрыть модальное окно подтверждения удаления и удалить пользователя
      this.showDeleteConfirmation = false
      this.executeDelete()
    },
    cancelDelete() {
      // Закрыть модальное окно подтверждения удаления
      this.showDeleteConfirmation = false
    },
    async executeDelete() {
      try {
        const response = await api.delete(`/user/${this.user_id}`)
        if (response.status === 204) {
          // Изменено с 200 на 204
          console.log('Пользователь успешно удален')
          this.$router.push({ name: 'Users' })
        } else {
          throw new Error('Ошибка при удалении пользователя')
        }
      } catch (error) {
        console.error('Ошибка при удалении пользователя:', error)
      }
    },

    goBack() {
      this.$router.push({ name: 'Users' })
    },
    goToUpdateUser() {
      this.$router.push({ name: 'UserUpdate', params: { user_id: this.user_id } })
    },
    togglePasswordVisibility() {
      this.showPassword = !this.showPassword
    },
    formatDate(dateString) {
      const options = { day: 'numeric', month: 'long', year: 'numeric' }
      const date = new Date(dateString)
      return date.toLocaleDateString('ru-RU', options)
    }
  }
}
</script>

<style scoped>
.imgg {
  height: 200px;
}
</style>
