<template>
  <div class="max-w-lg mx-auto">
    <h2 class="text-2xl font-semibold mb-4">Обновление данных пользователя</h2>
    <form @submit.prevent="updateUser" class="space-y-4">
      <div>
        <label for="username" class="block">Имя пользователя:</label>
        <input
          type="text"
          id="username"
          v-model="updatedUser.username"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div>
        <label for="email" class="block">Email:</label>
        <input
          type="email"
          id="email"
          v-model="updatedUser.email"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div>
        <label for="role_id" class="block">Роль пользователя:</label>
        <select
          id="role_id"
          v-model="updatedUser.role_id"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        >
          <option v-for="role in roles" :key="role.role_id" :value="role.role_id">
            {{ role.role_name }}
          </option>
        </select>
      </div>
      <div>
        <label for="birth_date" class="block">Дата рождения:</label>
        <input
          type="date"
          id="birth_date"
          v-model="updatedUser.birth_date"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div>
        <label for="avatar" class="block">Аватар:</label>
        <input
          type="file"
          id="avatar"
          @change="handleImageChange"
          accept="image/*"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div>
        <label for="position_id" class="block">Должность:</label>
        <select
          id="position_id"
          v-model="updatedUser.position_id"
          required
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        >
          <option v-for="position in positions" :key="position.id" :value="position.id">
            {{ position.position_name }}
          </option>
        </select>
      </div>
      <div class="flex items-center">
        <label for="password" class="block mr-2">Новый пароль:</label>
        <input
          :type="showPassword ? 'text' : 'password'"
          id="password"
          v-model="updatedUser.password"
          required
          class="flex-1 border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
        />
        <button
          type="button"
          @click="togglePasswordVisibility"
          class="ml-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          {{ showPassword ? 'Скрыть' : 'Показать' }}
        </button>
      </div>
      <div>
        <button
          type="submit"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Обновить данные пользователя
        </button>
        <button
          @click="goBack"
          class="w-full mt-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
        >
          Назад
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import api from '../../api.js'

export default {
  data() {
    return {
      updatedUser: {
        username: '',
        email: '',
        role_id: null,
        birth_date: '',
        avatar: '',
        position_id: null,
        password: ''
      },
      roles: [],
      positions: [],
      showPassword: false
    }
  },
  async mounted() {
    await this.fetchRoles()
    await this.fetchPositions()
    await this.getUserDetail()
  },
  methods: {
    async fetchRoles() {
      try {
        const response = await api.get('/roles')
        this.roles = response.data
      } catch (error) {
        console.error('Ошибка при загрузке ролей:', error)
      }
    },
    async fetchPositions() {
      try {
        const response = await api.get('/positions')
        this.positions = response.data
      } catch (error) {
        console.error('Ошибка при загрузке должностей:', error)
      }
    },
    async getUserDetail() {
      try {
        const userId = this.$route.params.user_id
        const response = await api.get(`/user/${userId}`)
        const userDetails = response.data
        const birthDate = new Date(userDetails.birth_date).toISOString().split('T')[0]
        this.updatedUser = {
          username: userDetails.username,
          email: userDetails.email,
          role_id: userDetails.role_id,
          birth_date: birthDate,
          avatar: userDetails.avatar,
          position_id: userDetails.position_id,
          password: ''
        }
      } catch (error) {
        console.error('Ошибка при получении данных пользователя:', error)
      }
    },
    handleImageChange(event) {
      const file = event.target.files[0]
      const reader = new FileReader()
      reader.onloadend = () => {
        this.updatedUser.avatar = reader.result
      }
      reader.readAsDataURL(file)
    },
    async updateUser() {
      try {
        const userId = this.$route.params.user_id
        const userDataToUpdate = {
          username: this.updatedUser.username,
          email: this.updatedUser.email,
          role_id: this.updatedUser.role_id,
          birth_date: this.updatedUser.birth_date,
          avatar: this.updatedUser.avatar,
          position_id: this.updatedUser.position_id,
          password: this.updatedUser.password
        }
        const response = await api.put(`/user/${userId}`, userDataToUpdate)
        console.log('Пользователь успешно обновлен:', response.data)
        this.$router.push({ name: 'UserDetail', params: { user_id: userId } })
      } catch (error) {
        console.error('Ошибка при обновлении пользователя:', error)
      }
    },
    togglePasswordVisibility() {
      this.showPassword = !this.showPassword
    },
    goBack() {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
/* Стили для компонента Vue */
</style>
