<template>
  <div class="max-w-4xl mx-auto px-4 py-8">
    <h2 class="text-center font-bold text-2xl mb-4">Список заявок</h2>
    <ul>
      <li
        v-for="application in applications"
        :key="application.application_id"
        class="border rounded-lg p-4 mb-4"
      >
        <div class="mb-2"><strong>ФИО:</strong> {{ application.username }}</div>
        <div class="mb-2"><strong>Телефон:</strong> {{ application.phone }}</div>
        <div class="mb-2"><strong>Email:</strong> {{ application.email }}</div>
        <div class="mb-2"><strong>Комментарий:</strong> {{ application.comment }}</div>
        <router-link
          :to="'/applications/' + application.application_id"
          class="text-blue-600 hover:underline"
          >Подробнее</router-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
import api from '../api.js'

export default {
  data() {
    return {
      applications: []
    }
  },
  async mounted() {
    await this.fetchApplications()
  },
  methods: {
    async fetchApplications() {
      try {
        const response = await api.get('/application')
        this.applications = response.data
      } catch (error) {
        console.error('Ошибка при получении списка приложений:', error)
        alert(
          'Произошла ошибка при загрузке списка приложений. Пожалуйста, проверьте консоль для получения дополнительной информации.'
        )
      }
    }
  }
}
</script>

<style scoped>
/* Нет необходимости в дополнительных стилях для этого компонента */
</style>
