<template>
  <div class="flex flex-col md:flex-row" :style="{ width: '98%' }">
    <div class="md:w-1/4 bg-blue-500 text-white p-4 hidden md:block">
      <LeftPartner />
    </div>
    <div class="w-full md:w-3/4 mx-auto md:ml-20">
      <!-- Добавлен класс mx-auto для центрирования -->
      <header class="bg-gray-800 text-white py-4 text-center md:text-left">
        <h1 class="text-center text-2xl font-bold">Последние события</h1>
      </header>
      <button
        @click="goToAdd"
        v-if="isRoleValidVisible"
        class="bg-green-500 text-white font-bold py-2 px-4 rounded my-4"
      >
        Добавить запись
      </button>
      <div class="blog-content text-center md:text-left">
        <!-- Центрирование контента -->

        <div class="blog-list-container">
          <div class="blog-list">
            <div v-if="currentPagePosts.length">
              <div
                v-for="(item, index) in currentPagePosts"
                :key="index"
                class="blog-item flex flex-wrap items-center"
              >
                <!-- Изображение слева -->
                <div class="w-1/4 pr-4">
                  <img
                    class="imgg"
                    v-if="item.image_url"
                    :src="getImageUrl(item.image_url)"
                    alt="Изображение записи"
                    style="width: 120%"
                  />
                  <img
                    class="imgg"
                    v-else
                    :src="defaultImageUrl"
                    alt="Изображение по умолчанию"
                    style="width: 120%"
                  />
                </div>
                <!-- Информация о записи справа -->
                <div
                  class="w-1/4"
                  :style="{
                    'max-width': '75%',
                    width: '100%',
                    display: 'grid'
                  }"
                >
                  <h1 class="text-center text-2xl font-bold my-2">{{ item.title }}</h1>
                  <p class="text-left">Дата: {{ formatDate(item.created_at) }}</p>
                  <p class="text-left" v-if="authorNames[item.author_id]">
                    Автор: {{ authorNames[item.author_id] }}
                  </p>
                  <p class="text-left content-wrapper">{{ truncateText(item.content, 80) }}</p>

                  <button
                    @click="showPostDetails(item.post_id)"
                    class="bg-blue-500 text-white font-bold py-2 px-4 rounded mt-2"
                    :style="{
                      'margin-left': 'auto',
                      'margin-right': '10px'
                    }"
                  >
                    Подробнее
                  </button>
                </div>
              </div>
            </div>
            <div v-else>
              <p>Загрузка записей...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center my-4">
        <button
          @click="prevPage"
          :disabled="currentPage === 1"
          class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mr-2"
        >
          Предыдущая
        </button>
        <span class="font-bold">{{ currentPage }}</span>
        <button
          @click="nextPage"
          :disabled="currentPage * itemsPerPage >= posts.length"
          class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded ml-2"
        >
          Следующая
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import LeftPartner from '@/modules/leftmenu/LeftPartner.vue'
import { ref, computed } from 'vue'
import api from '../api.js'
import { useRouter } from 'vue-router'

const posts = ref([])

const authorNames = ref({})

const router = useRouter()

const isRoleValidVisible = ref(false)
const isRoleValid = async () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}
const checkRoleValidity = async () => {
  isRoleValidVisible.value = await isRoleValid()
}

checkRoleValidity()
const truncateText = (text, maxLength) => {
  if (text.length > maxLength) {
    return text.slice(0, maxLength) + '...'
  } else {
    return text
  }
}
const fetchPosts = async () => {
  try {
    const response = await api.get('/blog')
    if (response.status === 200) {
      const fetchedPosts = response.data.sort(
        (a, b) => new Date(b.created_at) - new Date(a.created_at)
      )
      posts.value = fetchedPosts
      await fetchAuthorNames()
    } else {
      throw new Error('Ошибка при загрузке данных о записях в блоге')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchAuthorNames = async () => {
  try {
    const authorIds = Array.from(new Set(posts.value.map((postItem) => postItem.author_id)))
    for (const authorId of authorIds) {
      console.log(`Получение данных автора с ID ${authorId}`)
      const response = await api.get(`/user/${authorId}`)
      if (response.status === 200) {
        console.log(`Данные автора с ID ${authorId} успешно получены`)
        authorNames.value[authorId] = response.data.username
      } else {
        console.error(`Ошибка при получении данных автора с ID ${authorId}`)
      }
    }
  } catch (error) {
    console.error('Ошибка при загрузке данных об авторах:', error)
  }
}

const formatDate = (dateString) => {
  const date = new Date(dateString)
  const options = { day: '2-digit', month: 'long', year: 'numeric' }
  return date.toLocaleDateString('ru-RU', options)
}

const getImageUrl = (imageUrl) => {
  if (imageUrl) {
    return api.getUri() + '/static/' + imageUrl
  } else {
    return defaultImageUrl
  }
}

const goToAdd = () => {
  router.push('/blogcreate')
}

const showPostDetails = (post_id) => {
  if (post_id) {
    router.push({ name: 'blogDetail', params: { post_id } })
  } else {
    console.error('Ошибка: параметр post_id отсутствует или некорректен')
  }
}

const defaultImageUrl = '../static/blog.jpg'

const currentPage = ref(1)
const itemsPerPage = 3 // Количество записей на странице
const currentPagePosts = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return posts.value.slice(startIndex, endIndex)
})

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--
  }
}

const nextPage = () => {
  const totalPages = Math.ceil(posts.value.length / itemsPerPage)
  if (currentPage.value < totalPages) {
    currentPage.value++
  }
}

fetchPosts()
</script>

<style scoped>
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.imgg {
  max-width: 60%;
  height: auto;
}
</style>
