<template>
  <div class="container flex flex-col lg:flex-row">
    <!-- Левое меню с типами мебели -->
    <div class="sidebar bg-gray-100 px-4 py-8 lg:w-1/4 mx-auto text-center">
      <h3 class="text-lg font-semibold mb-4">Тип</h3>
      <ul>
        <li
          v-for="type in furnitureTypes"
          :key="type.type_id"
          @click="filterProducts(type.type_id)"
          :class="{ selected: type.type_id === selectedType }"
          class="cursor-pointer hover:text-blue-500 mb-2"
        >
          {{ type.name }}
        </li>
      </ul>
    </div>

    <!-- Основной контент с товарами -->
    <div class="main-content flex flex-col items-center lg:w-3/4">
      <header class="md:w-3/4 bg-gray-800 text-white py-6">
        <h1 class="text-center text-2xl font-bold">Каталог мебели</h1>
      </header>

      <button
        v-if="isAuthorized()"
        @click="goToAdd"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mb-4 m-8"
      >
        Добавить товар
      </button>

      <!-- Список товаров -->
      <div class="news-list-container flex flex-col items-center py-8 px-4">
        <div class="news-list w-full">
          <div v-if="currentPageProducts.length">
            <div
              v-for="(item, index) in currentPageProducts"
              :key="index"
              class="news-item border border-gray-300 rounded-lg p-4 my-4 w-full flex flex-col items-center"
              @click="showProductDetails(item.product_id)"
            >
              <h4 class="text-xl font-semibold">{{ item.name }}</h4>
              <p>{{ truncate(item.description, 15) }}</p>
              <img
                class="imgg my-2 w-38 h-32 object-cover"
                v-if="item.image_url"
                :src="getImageUrl(item.image_url)"
                alt="Изображение товара"
              />
              <img
                class="imgg my-2 w-38 h-32 object-cover"
                v-else
                :src="defaultImageUrl"
                alt="Изображение по умолчанию"
              />
              <button
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2"
              >
                Подробнее
              </button>
            </div>
          </div>
          <div v-else>
            <p>Загрузка товаров...</p>
          </div>
        </div>
      </div>

      <!-- Пагинация -->
      <div class="pagination mt-8">
        <button
          @click="prevPage"
          :disabled="currentPage === 1"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2"
        >
          Предыдущая
        </button>
        <span>Страница {{ currentPage }}</span>
        <button
          @click="nextPage"
          :disabled="currentPage * itemsPerPage >= products.length"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2"
        >
          Следующая
        </button>
      </div>
    </div>
  </div>
</template>
<script setup>
import { ref, computed } from 'vue'
import api from '../api.js'
import { useRouter } from 'vue-router'

const products = ref([])
const furnitureTypes = ref([])
const selectedType = ref(null)
const router = useRouter()

const truncate = (value, maxLength) => {
  if (!value) return ''
  if (value.length <= maxLength) return value
  return value.slice(0, maxLength) + '...'
}

// Загрузка типов мебели
const fetchFurnitureTypes = async () => {
  try {
    const response = await api.get('/furnitureType')
    if (response.status === 200) {
      furnitureTypes.value = response.data
    } else {
      throw new Error('Ошибка при загрузке данных о типах мебели')
    }
  } catch (error) {
    console.error(error)
  }
}

// Фильтрация товаров по выбранному типу мебели
const filterProducts = async (typeId) => {
  try {
    const response = await api.get(`/catalog/type/${typeId}`)
    if (response.status === 200) {
      products.value = response.data.reverse()
      selectedType.value = typeId // Помечаем выбранный тип мебели
    } else {
      throw new Error('Ошибка при загрузке товаров данного типа')
    }
  } catch (error) {
    console.error(error)
  }
}

// Переход к добавлению нового товара
const goToAdd = () => {
  router.push('/productcreate')
}

// Отображение деталей выбранного товара
const showProductDetails = (product_id) => {
  if (product_id) {
    router.push({ name: 'productsDetail', params: { product_id } })
  } else {
    console.error('Ошибка: параметр product_id отсутствует или некорректен')
  }
}

// URL для изображения товара
const defaultImageUrl = '../static/default.jpg'
const getImageUrl = (imageUrl) => {
  if (imageUrl) {
    return api.getUri() + '/static/' + imageUrl
  } else {
    return defaultImageUrl
  }
}

// Пагинация
const currentPage = ref(1)
const itemsPerPage = 3
const currentPageProducts = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return products.value.slice(startIndex, endIndex)
})

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--
  }
}

const nextPage = () => {
  const totalPages = Math.ceil(products.value.length / itemsPerPage)
  if (currentPage.value < totalPages) {
    currentPage.value++
  }
}

// Метод проверки авторизации
const isAuthorized = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

// Загрузка всех товаров при монтировании компонента
const fetchProducts = async () => {
  try {
    const response = await api.get('/catalog')
    if (response.status === 200) {
      products.value = response.data.reverse()
    } else {
      throw new Error('Ошибка при загрузке данных о товарах')
    }
  } catch (error) {
    console.error(error)
  }
}

// Загрузка данных при монтировании компонента
fetchFurnitureTypes()
fetchProducts() // Вызываем метод загрузки всех товаров при загрузке компонента
</script>

<style scoped>
.selected {
  background-color: lightgreen;
}

.imgg {
  max-width: 200px; /* Максимальная ширина изображения */
  max-height: 200px; /* Максимальная высота изображения */
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
</style>
