<template>
  <div>
    <h2>Вход</h2>
    <form @submit.prevent="loginUser">
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email" required />
      <label for="password">Пароль:</label>
      <input type="password" id="password" v-model="password" required />
      <button @click="login">Войти</button>
    </form>
    <p v-if="loginErrorMessage" style="color: red">{{ loginErrorMessage }}</p>
  </div>
</template>

<script>
import axios from 'axios'
import router from '@/router'

const api = axios.create({
  baseURL: 'http://localhost:3000'
})

export default {
  data() {
    return {
      email: '',
      password: '',
      loginErrorMessage: ''
    }
  },
  methods: {
    async login() {
      try {
        const response = await api.post('/login', {
          email: this.email,
          password: this.password
        })

        // Сохраняем токен и user_id в localStorage
        localStorage.setItem('token', response.data.token)
        localStorage.setItem('user_id', response.data.user_id)
        localStorage.setItem('role_id', response.data.role_id)
        router.push('/personal')
      } catch (error) {
        this.loginErrorMessage = 'Неверные учетные данные. Пожалуйста, попробуйте еще раз.'
        console.error(error)
      }
    }
  }
}
</script>

<style scoped>
h2 {
  color: #ffffff; /* Светло-зелёный */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

label {
  margin-bottom: 5px;
  color: #35495e; /* Тёмнозелёный */
}

input[type='email'],
input[type='password'] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #41b883; /* Светло-зелёный */
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #41b883; /* Светло-зелёный */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #32a672; /* Тёмнозелёный */
}

p {
  color: red;
  margin-top: 10px;
}
</style>
