<template>
  <div class="homepage">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold mb-4 flex justify-center">Мебельный магазин</h1>
      <p class="text-lg mb-8">
        "Мебельный магазин" осуществляет производство мебели на высококлассном оборудовании с
        применением минимальной доли ручного труда, что позволяет обеспечить высокое качество нашей
        продукции. Налажен производственный процесс как массового, так и индивидуального характера,
        что с одной стороны позволяет обеспечить постоянную номенклатуру изделий, а с другой –
        индивидуальный подход.
      </p>
    </div>

    <!-- Акции -->
    <div class="bg-gray-100 py-8">
      <div class="container mx-auto">
        <h2 class="text-lg font-semibold mb-4 flex justify-center">Акции</h2>
        <div class="grid md:grid-cols-2 gap-8 flex justify-center">
          <div v-if="currentPromotion" class="flex justify-center flex items-center">
            <img
              :src="getImageUrl(currentPromotion.image_url)"
              class="w-48 h-auto mr-8"
              alt="Изображение акции"
            />
            <div>
              <h3 class="text-xl font-semibold">{{ currentPromotion.name }}</h3>
              <p>{{ currentPromotion.description }}</p>
              <p>Начало акции: {{ formatDate(currentPromotion.start_date) }}</p>
              <p>Окончание акции: {{ formatDate(currentPromotion.end_date) }}</p>
            </div>
          </div>
          <div v-else>
            <p>Нет доступных акций.</p>
          </div>
        </div>
        <div class="flex justify-center items-center mt-4">
          <button
            @click="prevPromotion"
            :disabled="currentIndex === 0"
            class="mr-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          >
            Назад
          </button>
          <span>{{ currentIndex + 1 }} / {{ filteredPromotions.length }}</span>
          <button
            @click="nextPromotion"
            :disabled="currentIndex === filteredPromotions.length - 1"
            class="ml-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
          >
            Вперед
          </button>
        </div>
      </div>
    </div>

    <!-- Отображение последних событий и новостей -->
    <div class="container mx-auto py-8 flex justify-center">
      <div class="grid md:grid-cols-2 gap-8">
        <!-- Последние события -->
        <div class="ev_events rounded-lg overflow-hidden">
          <h2 class="text-lg font-semibold mb-4 flex justify-center">Последние события</h2>
          <ul>
            <li v-for="blog in lastThreeBlogs" :key="blog.id" class="mb-4">
              <div class="flex items-center">
                <img
                  v-if="blog.image"
                  :src="blog.image"
                  alt="Изображение события"
                  class="w-24 h-auto mr-4"
                />
                <div>
                  <h3 class="text-xl font-semibold">
                    {{ blog.title.slice(0, 15) + (blog.title.length > 15 ? '...' : '') }}
                  </h3>
                  <p class="text-gray-600">
                    {{ blog.content.slice(0, 15) + (blog.content.length > 15 ? '...' : '') }}
                  </p>
                  <p class="text-gray-500">Дата: {{ formatDate(blog.created_at) }}</p>
                  <router-link :to="'/blogs/' + blog.post_id" class="text-blue-500 hover:underline"
                    >Подробнее</router-link
                  >
                </div>
              </div>
            </li>
          </ul>
          <div class="mt-4 flex justify-center">
            <router-link to="/blogs" class="text-blue-500 hover:underline">Все события</router-link>
          </div>
        </div>
        <!-- Последние новости -->
        <div class="cn_hp_post rounded-lg overflow-hidden">
          <h2 class="text-lg font-semibold mb-4 flex justify-center">Последние новости</h2>
          <ul>
            <li v-for="news in lastThreeNews" :key="news.id" class="mb-4">
              <div class="flex items-center">
                <img
                  v-if="news.image"
                  :src="news.image"
                  alt="Изображение новости"
                  class="w-24 h-auto mr-4"
                />
                <div>
                  <h3 class="text-xl font-semibold">
                    {{ news.title.slice(0, 15) + (news.title.length > 15 ? '...' : '') }}
                  </h3>
                  <p class="text-gray-600">
                    {{ news.content.slice(0, 15) + (news.content.length > 15 ? '...' : '') }}
                  </p>
                  <p class="text-gray-500">Дата: {{ formatDate(news.created_at) }}</p>
                  <router-link :to="'/news/' + news.news_id" class="text-blue-500 hover:underline"
                    >Подробнее</router-link
                  >
                </div>
              </div>
            </li>
          </ul>
          <div class="mt-4 flex justify-center">
            <router-link to="/news" class="text-blue-500 hover:underline">Все новости</router-link>
          </div>
        </div>
      </div>
    </div>

    <!-- Отзывы -->
    <div class="bg-gray-100 py-8">
      <div class="container mx-auto">
        <h2 class="text-lg font-semibold mb-4 flex justify-center">Отзывы</h2>
        <div class="grid md:grid-cols-2 gap-8 justify-center">
          <template v-if="lastReviews.length > 0">
            <div
              v-for="(review, index) in lastReviews.slice(0, 4)"
              :key="index"
              class="rounded-lg overflow-hidden"
            >
              <div class="flex">
                <img
                  v-if="review.userImage"
                  :src="review.userImage"
                  class="w-36 h-auto mb-4 border border-gray-300"
                />
                <div class="mt-4">
                  <strong class="text-gray-700">ФИО:</strong> {{ review.userName }}<br />
                  <strong class="text-gray-700">Дата:</strong> {{ formatDate(review.review_date)
                  }}<br />
                  <strong class="text-gray-700">Оценка: {{ review.rating }}/10</strong>
                </div>
              </div>
            </div>
          </template>
          <template v-else>
            <div class="rounded-lg overflow-hidden">
              <p class="text-gray-600">Нет доступных отзывов.</p>
            </div>
          </template>
        </div>
        <div class="mt-4 flex justify-center">
          <router-link to="/review" class="text-blue-500 hover:underline"
            >Перейти ко всем отзывам</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../api.js'

export default {
  data() {
    return {
      newsList: [],
      blogList: [],
      reviews: [],
      promotions: [],
      currentIndex: 0
    }
  },
  async mounted() {
    await this.fetchNews()
    await this.fetchBlogs()
    await this.fetchReviews()
    await this.fetchPromotions()
  },
  computed: {
    lastThreeNews() {
      return this.newsList.slice(-3)
    },
    lastThreeBlogs() {
      return this.blogList.slice(-3)
    },
    lastReviews() {
      return this.reviews.slice(-4)
    },
    currentPromotion() {
      return this.filteredPromotions[this.currentIndex]
    },
    filteredPromotions() {
      const currentDate = new Date().toISOString().split('T')[0]
      return this.promotions.filter((promotion) => promotion.end_date >= currentDate)
    }
  },
  methods: {
    async fetchNews() {
      try {
        const response = await api.get('/news')
        this.newsList = response.data.map((news) => ({
          ...news,
          image: news.image_url ? `${api.getUri()}/static/${news.image_url}` : null
        }))
      } catch (error) {
        console.error('Ошибка при загрузке новостей:', error)
        alert('Произошла ошибка при загрузке новостей.')
      }
    },
    async fetchBlogs() {
      try {
        const response = await api.get('/blog')
        this.blogList = response.data.map((blog) => ({
          ...blog,
          image: blog.image_url ? `${api.getUri()}/static/${blog.image_url}` : null
        }))
      } catch (error) {
        console.error('Ошибка при загрузке блогов:', error)
        alert('Произошла ошибка при загрузке блогов.')
      }
    },
    async fetchReviews() {
      try {
        const response = await api.get('/reviews')
        this.reviews = response.data

        // Получение информации о пользователе для каждого отзыва
        await Promise.all(
          this.reviews.map(async (review) => {
            // Запрос к API для получения данных о пользователе
            const userResponse = await api.get(`/user/${review.user_id}`)
            const userData = userResponse.data

            // Обновление свойств отзыва
            review.userImage = userData.avatar_url
              ? `${api.getUri()}/static/${userData.avatar_url}`
              : '../static/user.jpg'
            review.userName = userData.username
          })
        )
      } catch (error) {
        console.error('Ошибка при загрузке отзывов:', error)
        alert('Произошла ошибка при загрузке отзывов.')
      }
    },
    async fetchPromotions() {
      try {
        const response = await api.get('/promotions')
        this.promotions = response.data
      } catch (error) {
        console.error('Ошибка при загрузке акций:', error)
        alert('Произошла ошибка при загрузке акций.')
      }
    },
    formatDate(dateString) {
      const options = { day: 'numeric', month: 'long', year: 'numeric' }
      return new Date(dateString).toLocaleDateString('ru-RU', options)
    },
    getImageUrl(imageUrl) {
      if (imageUrl) {
        return api.getUri() + '/static/' + imageUrl
      } else {
        return '../static/prom.jpg'
      }
    },
    prevPromotion() {
      if (this.currentIndex > 0) {
        this.currentIndex--
      }
    },
    nextPromotion() {
      if (this.currentIndex < this.filteredPromotions.length - 1) {
        this.currentIndex++
      }
    }
  }
}
</script>

<style scoped>
.img {
  height: 140px;
}

.left-column,
.right-column {
  flex: 1;
}

.promotions-slider {
  margin-bottom: 1rem;
}

.promotion-image {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.promotions-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotions-navigation button {
  margin: 0 0.5rem;
}

.left-column img,
.right-column img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
</style>
