<template>
  <div class="container mx-auto px-4">
    <header class="md:w-4/4 bg-gray-800 text-white py-6">
      <h1 class="text-center text-2xl font-bold">Новости</h1>
    </header>

    <div class="flex justify-center items-center h-full">
      <button
        @click="goToPut"
        data-testid="add-news-button"
        v-if="isRoleValidVisible"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-8"
      >
        Добавить новость
      </button>
    </div>

    <div class="flex flex-col items-center">
      <div class="mt-8 w-full max-w-3xl">
        <div v-if="currentPageNews.length">
          <div
            v-for="(item, index) in currentPageNews"
            :key="index"
            class="bg-white rounded-lg shadow-md mb-4"
          >
            <div class="flex flex-col md:flex-row">
              <div class="md:w-1/3 p-4">
                <img
                  class="w-full h-auto rounded-lg border border-gray-300"
                  v-if="item.image_url"
                  :src="getImageUrl(item.image_url)"
                  alt="Изображение новости"
                />
                <img
                  class="w-full h-auto rounded-lg border border-gray-300"
                  v-else
                  :src="defaultImageUrl"
                  alt="Изображение по умолчанию"
                />
              </div>
              <div class="md:w-2/3 p-4">
                <h4 class="text-xl font-semibold mb-2">{{ item.title }}</h4>
                <p class="text-gray-700 mb-2">Дата: {{ formatDate(item.created_at) }}</p>
                <p v-if="authorNames[item.author_id]" class="text-gray-700 mb-2">
                  Автор: {{ authorNames[item.author_id] }}
                </p>
                <p class="text-gray-800">{{ truncateContent(item.content) }}</p>
                <!-- Обрезаем контент новости -->
                <button
                  @click="showNewsDetails(item.news_id)"
                  class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
                >
                  Подробнее
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <p class="text-gray-700">Загрузка новостей...</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center my-8">
      <button
        @click="prevPage"
        :disabled="currentPage === 1"
        class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md mr-2 hover:bg-gray-400"
      >
        Предыдущая
      </button>
      <span class="text-gray-600">Страница {{ currentPage }}</span>
      <button
        @click="nextPage"
        :disabled="currentPage * itemsPerPage >= news.length"
        class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md ml-2 hover:bg-gray-400"
      >
        Следующая
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import api from '../api.js'
import { useRouter } from 'vue-router'

const news = ref([])
const authorNames = ref({})

const router = useRouter()
const isRoleValidVisible = ref(false)
const isRoleValid = async () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}
const checkRoleValidity = async () => {
  isRoleValidVisible.value = await isRoleValid()
}

checkRoleValidity()
const fetchNews = async () => {
  try {
    const response = await api.get('/news')
    if (response.status === 200) {
      news.value = response.data.reverse()
      await fetchAuthorNames()
    } else {
      throw new Error('Ошибка при загрузке данных о новостях')
    }
  } catch (error) {
    console.error(error)
  }
}

const fetchAuthorNames = async () => {
  try {
    const authorIds = Array.from(new Set(news.value.map((newsItem) => newsItem.author_id)))
    for (const authorId of authorIds) {
      console.log(`Получение данных автора с ID ${authorId}`)
      const response = await api.get(`/user/${authorId}`)
      if (response.status === 200) {
        console.log(`Данные автора с ID ${authorId} успешно получены`)
        authorNames.value[authorId] = response.data.username
      } else {
        console.error(`Ошибка при получении данных автора с ID ${authorId}`)
      }
    }
  } catch (error) {
    console.error('Ошибка при загрузке данных об авторах:', error)
  }
}

const formatDate = (dateString) => {
  const date = new Date(dateString)
  const options = { day: '2-digit', month: 'long', year: 'numeric' }
  return date.toLocaleDateString('ru-RU', options)
}

const getImageUrl = (imageUrl) => {
  if (imageUrl) {
    return api.getUri() + '/static/' + imageUrl
  } else {
    return defaultImageUrl
  }
}

const goToPut = () => {
  router.push('/newscreate')
}

const showNewsDetails = (news_id) => {
  if (news_id) {
    router.push({ name: 'NewsDetail', params: { news_id } })
  } else {
    console.error('Ошибка: параметр news_id отсутствует или некорректен')
  }
}

const defaultImageUrl = '../static/novosti.png'

const currentPage = ref(1)
const itemsPerPage = 3 // Количество новостей на странице
const currentPageNews = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return news.value.slice(startIndex, endIndex)
})

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--
  }
}

const nextPage = () => {
  const totalPages = Math.ceil(news.value.length / itemsPerPage)
  if (currentPage.value < totalPages) {
    currentPage.value++
  }
}

const truncateContent = (content) => {
  if (content.length > 35) {
    return content.slice(0, 35) + '...'
  } else {
    return content
  }
}

fetchNews()
</script>

<style scoped>
.news-heading {
  text-align: center;
}

.news-item {
  cursor: pointer;
}

.pagination button {
  cursor: pointer;
}
</style>
