<template>
  <div class="container mx-auto py-8 px-4 flex flex-col items-center">
    <h2 class="text-2xl md:text-3xl lg:text-4xl text-center py-4 text-indigo-700 font-bold">
      Личный кабинет
    </h2>
    <div v-if="user" class="user-info-container flex flex-col md:flex-row md:justify-center">
      <div class="user-image-container md:mr-8">
        <img class="imgg w-full md:w-48 md:h-48" :src="getUserImageUrl(user.avatar_url)" />
      </div>
      <div class="user-details-container">
        <h3 class="text-lg">Информация о пользователе</h3>
        <p><strong>ФИО:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Дата рождения:</strong> {{ formatDate(user.birth_date) }}</p>
      </div>
    </div>
    <div v-else>
      <p>Загрузка информации о пользователе...</p>
    </div>
    <div class="tasks-container mx-auto">
      <table class="w-full md:table-fixed">
        <thead>
          <tr>
            <th class="w-1/4 md:w-auto">Название задачи</th>
            <th class="w-1/4 md:w-auto">Дата создания</th>
            <th class="w-1/4 md:w-auto">Дата выполнения</th>
            <th class="w-1/4 md:w-auto">Статус</th>
            <th class="w-1/4 md:w-auto"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(task, index) in tasks" :key="index">
            <td class="w-1/4 md:w-auto">{{ task.title }}</td>
            <td class="w-1/4 md:w-auto">{{ formatDate(task.start_date) }}</td>
            <td class="w-1/4 md:w-auto">{{ formatDate(task.deadline) }}</td>
            <td class="w-1/4 md:w-auto">{{ displayStatus(task.status_id) }}</td>
            <td class="w-1/4 md:w-auto">
              <button class="text-center" @click="showTaskDetails(task.task_id)">Подробнее</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="mt-4 md:mt-8 py-4 px-8 md:px-4" @click="goBack">Сменить пользователя</button>
  </div>
</template>

<script>
import api from '../api.js'
import router from '../router'

export default {
  data() {
    return {
      user: null,
      user_id: null,
      tasks: [],
      users: {},
      statuses: {} // Добавляем объект для хранения статусов задач
    }
  },
  async created() {
    this.user_id = localStorage.getItem('user_id')
    await this.getUser()
    await this.fetchStatusesForTasks() // Вызываем здесь
    await this.fetchTasks()
  },
  methods: {
    async getUser() {
      try {
        const response = await api.get(`/user/${this.user_id}`)
        this.user = response.data
        await this.addAdditionalInfo(this.user)
      } catch (error) {
        console.error('Ошибка при получении информации о пользователе:', error)
      }
    },
    async fetchTasks() {
      try {
        const response = await api.get(`/tasks/user/${this.user_id}`)
        if (response.status === 200) {
          this.tasks = response.data
          await this.fetchUsersForTasks()
        } else {
          throw new Error('Ошибка при загрузке данных о задачах')
        }
      } catch (error) {
        console.error(error)
      }
    },
    async fetchUsersForTasks() {
      // Получаем пользователей, если это необходимо
    },
    async fetchStatusesForTasks() {
      try {
        const response = await api.get(`/status`)
        if (response.status === 200) {
          const statuses = response.data.reduce((acc, status) => {
            acc[status.status_id] = status.name
            return acc
          }, {})
          this.statuses = statuses
        } else {
          throw new Error('Ошибка при загрузке данных о статусах задач')
        }
      } catch (error) {
        console.error(error)
      }
    },
    displayCreatedBy(userId) {
      const user = this.users[userId]
      return user ? `${user.username} (${user.email})` : 'Неизвестно'
    },
    displayStatus(status_id) {
      const statusName = this.statuses[status_id] || 'Неизвестно'
      return statusName
    },
    showTaskDetails(task_id) {
      if (task_id) {
        router.push({ name: 'TaskDetails', params: { task_id } })
      } else {
        console.error('Ошибка: параметр task_id отсутствует или некорректен')
      }
    },
    getUserImageUrl(imageUrl) {
      return imageUrl ? api.getUri() + '/static/' + imageUrl : '../static/user.jpg'
    },
    goBack() {
      this.$router.go(-1)
    },
    formatDate(dateString) {
      const options = { day: 'numeric', month: 'long', year: 'numeric' }
      const date = new Date(dateString)
      return date.toLocaleDateString('ru-RU', options)
    }
  }
}
</script>

<style scoped>
/* Общие стили */
h2,
h3,
p,
button {
  font-family: Arial, sans-serif;
}

/* Контейнер пользователя */
.user-info-container {
  display: flex;
  align-items: center;
}

.user-image-container {
  margin-right: 20px;
}

.user-details-container {
  max-width: 300px; /* Оптимальная ширина блока с деталями пользователя */
}

/* Стили таблицы задач */
.tasks-container {
  overflow-y: auto;
}

/* Стили кнопок */
button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Стили таблицы */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Стили изображения пользователя */
.imgg {
  height: 200px;
  border-radius: 50%; /* Делаем изображение круглым */
  object-fit: cover; /* Заполнение изображения по размеру контейнера */
}
</style>
