<template>
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4 text-center">Создание новости</h2>
    <form @submit.prevent="createNews" class="space-y-4">
      <div class="flex flex-col space-y-4">
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="title" class="text-sm font-semibold">Заголовок:</label>
          <input
            type="text"
            id="title"
            v-model="formData.title"
            required
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="content" class="text-sm font-semibold">Содержание:</label>
          <textarea
            id="content"
            v-model="formData.content"
            required
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          ></textarea>
        </div>
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="author_id" class="text-sm font-semibold">Автор:</label>
          <select
            id="author_id"
            v-model="formData.author_id"
            required
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          >
            <option disabled value="">Выберите автора</option>
            <option v-for="user in users" :key="user.user_id" :value="user.user_id">
              {{ user.username }}
            </option>
          </select>
        </div>
        <div class="flex flex-col w-full md:w-1/2 mx-auto">
          <label for="image" class="text-sm font-semibold">Изображение:</label>
          <input
            type="file"
            id="image"
            @change="handleImageChange"
            accept="image/*"
            class="mt-1 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mx-auto focus:outline-none focus:shadow-outline"
        >
          Создать
        </button>
      </div>
    </form>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import api from '../api.js'
import { useRouter } from 'vue-router'

const formData = ref({
  title: '',
  content: '',
  author_id: '',
  image: null,
  created_at: new Date().toISOString().split('T')[0] // Установка текущей даты в качестве даты создания
})
const users = ref([]) // Переменная для хранения списка пользователей

const router = useRouter()

const createNews = async () => {
  try {
    const formDataCopy = { ...formData.value }
    const response = await api.post(`/news`, formDataCopy)
    if (response.status === 200) {
      alert('Новость успешно создана')
      router.push(`/news`)
    } else {
      throw new Error('Ошибка при создании новости')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при создании новости')
  }
}

const handleImageChange = (event) => {
  const file = event.target.files[0]
  const reader = new FileReader()
  reader.onloadend = () => {
    formData.value.image = reader.result
  }
  reader.readAsDataURL(file)
}

onMounted(async () => {
  try {
    const usersResponse = await api.get('/user')
    if (usersResponse.status === 200) {
      users.value = usersResponse.data
    } else {
      throw new Error('Ошибка при получении списка пользователей')
    }
  } catch (error) {
    console.error(error)
    alert('Произошла ошибка при загрузке списка пользователей')
  }
})
</script>

<style scoped></style>
