<template>
  <div class="max-w-screen-lg mx-auto px-4">
    <header class="md:w-4/4 bg-gray-800 text-white py-6">
      <h1 class="text-center text-2xl font-bold">Акции</h1>
    </header>
    <button
      @click="goToAdd"
      v-if="isRoleValid()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-center mx-auto m-8"
    >
      Добавить акцию
    </button>

    <div class="mt-6">
      <h3 class="text-lg font-bold flex justify-center m-8">Фильтр:</h3>
      <div class="flex mt-2 flex justify-center m-8">
        <label class="inline-flex items-center">
          <input
            type="radio"
            v-model="filterType"
            value="active"
            class="form-radio h-5 w-5 text-blue-600"
          />
          <span class="ml-2 text-gray-700">Активные</span>
        </label>
        <label class="inline-flex items-center ml-6">
          <input
            type="radio"
            v-model="filterType"
            value="inactive"
            class="form-radio h-5 w-5 text-blue-600"
          />
          <span class="ml-2 text-gray-700">Неактивные</span>
        </label>
        <label class="inline-flex items-center ml-6">
          <input
            type="radio"
            v-model="filterType"
            value="all"
            class="form-radio h-5 w-5 text-blue-600"
          />
          <span class="ml-2 text-gray-700">Все</span>
        </label>
      </div>
    </div>

    <div class="promotions-list-container">
      <div class="promotions-list">
        <div v-if="currentPagePromotions.length">
          <div
            v-for="(item, index) in currentPagePromotions"
            :key="index"
            class="promotion-item mb-4 p-4 bg-white shadow-md flex items-center"
          >
            <img :src="getImageUrl(item.image_url)" alt="Изображение акции" class="w-1/3" />
            <div class="promotion-details flex-1 ml-4">
              <h4 class="text-lg font-bold text-center">{{ item.name }}</h4>
              <p class="mt-2 indent-8">{{ item.description }}</p>
              <p class="mt-2">Начало акции: {{ formatDate(item.start_date) }}</p>
              <p class="mt-2">Окончание акции: {{ formatDate(item.end_date) }}</p>
              <button
                @click="showPromotionDetails(item.promotion_id)"
                class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Подробнее
              </button>
            </div>
          </div>
        </div>
        <div v-else>
          <p>Загрузка акций...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination mt-6 flex items-center justify-center">
    <button
      @click="prevPage"
      :disabled="currentPage === 1"
      class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Предыдущая
    </button>
    <span>Страница {{ currentPage }}</span>
    <button
      @click="nextPage"
      :disabled="currentPage * itemsPerPage >= promotions.length"
      class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Следующая
    </button>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import api from '../api.js'
import { useRouter } from 'vue-router'

const promotions = ref([])
const filterType = ref('active')
const router = useRouter()

const fetchPromotions = async () => {
  try {
    const response = await api.get('/promotions')
    if (response.status === 200) {
      promotions.value = response.data.reverse()
    } else {
      throw new Error('Ошибка при загрузке данных о акциях')
    }
  } catch (error) {
    console.error(error)
  }
}

const formatDate = (dateString) => {
  const date = new Date(dateString)
  const options = { day: '2-digit', month: 'long', year: 'numeric' }
  return date.toLocaleDateString('ru-RU', options)
}

const goToAdd = () => {
  router.push('/promotionscreate')
}

const showPromotionDetails = (promotion_id) => {
  if (promotion_id) {
    router.push({ name: 'promotionsDetail', params: { promotion_id } })
  } else {
    console.error('Ошибка: параметр promotion_id отсутствует или некорректен')
  }
}

const currentPage = ref(1)
const itemsPerPage = 3
const currentPagePromotions = computed(() => {
  let filteredPromotions = []
  if (filterType.value === 'active') {
    filteredPromotions = promotions.value.filter((promotion) => {
      const endDate = new Date(promotion.end_date)
      return endDate >= new Date()
    })
  } else if (filterType.value === 'inactive') {
    filteredPromotions = promotions.value.filter((promotion) => {
      const endDate = new Date(promotion.end_date)
      return endDate < new Date()
    })
  } else {
    filteredPromotions = promotions.value
  }

  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return filteredPromotions.slice(startIndex, endIndex)
})

const prevPage = () => {
  if (currentPage.value > 1) {
    currentPage.value--
  }
}

const nextPage = () => {
  const totalPages = Math.ceil(promotions.value.length / itemsPerPage)
  if (currentPage.value < totalPages) {
    currentPage.value++
  }
}

const getImageUrl = (imageUrl) => {
  if (imageUrl) {
    return api.getUri() + '/static/' + imageUrl
  } else {
    return '../static/prom.jpg'
  }
}

const isRoleValid = () => {
  const roleId = localStorage.getItem('role_id')
  return roleId === '1' || roleId === '2'
}

fetchPromotions()
</script>

<style scoped>
/* Здесь можно оставить свои стили, если необходимо */
</style>
