<template>
  <div class="flex flex-col md:flex-row">
    <!-- Левое меню (Фильтр) -->
    <div class="sidebar md:w-1/3 md:sticky md:top-0 md:h-full bg-gray-100 p-4 hidden md:block">
      <h3 class="text-xl font-semibold mb-4">Фильтр по пользователю</h3>
      <ul>
        <li
          v-for="user in users"
          :key="user.user_id"
          @click="filterByUser(user.user_id)"
          :class="{ selected: user.user_id === selectedUser }"
          class="cursor-pointer mb-2 text-blue-500 hover:underline"
        >
          {{ user.username }}
        </li>
      </ul>
    </div>

    <!-- Основной контент -->
    <div class="task-container md:w-2/3 px-4 py-8">
      <h1 class="text-2xl font-semibold mb-6">Список задач</h1>
      <div v-if="displayedTasks.length === 0" class="no-tasks text-gray-600">
        Нет задач от выбранного пользователя
      </div>
      <div v-else>
        <div
          v-for="(task, index) in displayedTasks"
          :key="task.task_id"
          :class="{
            'task bg-white shadow-md rounded-md p-4 mb-4': true,
            'border-red-500': isDeadlineExpired(task.deadline)
          }"
        >
          <div><strong>Название:</strong> {{ task.title }}</div>
          <div><strong>Дата создания:</strong> {{ formatDate(task.start_date) }}</div>
          <div><strong>Крайний срок:</strong> {{ formatDate(task.deadline) }}</div>
          <div>
            <strong>Постановщик:</strong>
            {{ displayCreatedBy(task.created_by) }}
          </div>
          <div><strong>Статус:</strong> {{ displayStatus(task.status_id) }}</div>
          <button
            @click="showTaskDetails(task.task_id)"
            class="mt-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          >
            Подробнее
          </button>
        </div>
      </div>

      <!-- Пагинация -->
      <div class="pagination flex items-center justify-center mt-8">
        <button
          @click="prevPage"
          :disabled="currentPage === 1"
          class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md mr-2 hover:bg-gray-400"
        >
          Назад
        </button>
        <span class="text-gray-600">{{ currentPage }} из {{ totalPages }}</span>
        <button
          @click="nextPage"
          :disabled="currentPage === totalPages"
          class="px-4 py-2 bg-gray-300 text-gray-600 rounded-md ml-2 hover:bg-gray-400"
        >
          Вперед
        </button>
      </div>

      <!-- Кнопка "Добавить задачу" -->
      <div class="text-center mt-8">
        <button
          @click="addTask"
          class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600"
        >
          Добавить задачу
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../api.js'
import router from '../router'

export default {
  data() {
    return {
      tasks: [],
      users: [],
      statuses: [],
      displayedTasks: [],
      tasksPerPage: 3,
      currentPage: 1,
      selectedUser: null // Начальное значение - нет выбранного пользователя
    }
  },
  computed: {
    totalPages() {
      return Math.ceil(this.tasks.length / this.tasksPerPage)
    }
  },
  async mounted() {
    await this.fetchTasks()
    await this.fetchUsers()
  },
  methods: {
    async fetchTasks() {
      try {
        const response = await api.get('/tasks')
        if (response.status === 200) {
          this.tasks = response.data
          await this.fetchStatusesForTasks()
          this.sortTasksByCreationDate() // Сортировка задач по дате создания
          this.updateDisplayedTasks()
        } else {
          throw new Error('Ошибка при загрузке данных о задачах')
        }
      } catch (error) {
        console.error(error)
      }
    },
    async fetchStatusesForTasks() {
      const taskIds = this.tasks.map((task) => task.status_id)
      const statusPromises = taskIds.map((taskId) => api.get(`/status/${taskId}`))
      const statuses = await Promise.all(statusPromises)
      this.statuses = statuses.map((status) => status.data)
    },
    async fetchUsers() {
      try {
        const response = await api.get('/user')
        if (response.status === 200) {
          this.users = response.data
        } else {
          throw new Error('Ошибка при загрузке данных о пользователях')
        }
      } catch (error) {
        console.error('Ошибка при загрузке данных о пользователях:', error)
      }
    },
    formatDate(dateString) {
      const date = new Date(dateString)
      const options = { day: '2-digit', month: 'long', year: 'numeric' }
      return date.toLocaleDateString('ru-RU', options)
    },
    displayCreatedBy(createdBy) {
      const user = this.users.find((user) => user.user_id === createdBy)
      if (user) {
        return `${user.username} (${user.email})`
      } else {
        return 'Неизвестно'
      }
    },
    displayStatus(statusId) {
      const status = this.statuses.find((status) => status.status_id === statusId)
      if (status) {
        return status.name
      } else {
        return 'Неизвестно'
      }
    },
    showTaskDetails(task_id) {
      if (task_id) {
        router.push({ name: 'TaskDetails', params: { task_id: task_id } })
      } else {
        console.error('Ошибка: параметр taskId отсутствует или некорректен')
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
        this.updateDisplayedTasks()
      }
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--
        this.updateDisplayedTasks()
      }
    },
    sortTasksByCreationDate() {
      this.tasks.sort((a, b) => new Date(b.start_date) - new Date(a.start_date))
    },
    updateDisplayedTasks() {
      const startIndex = (this.currentPage - 1) * this.tasksPerPage
      const endIndex = startIndex + this.tasksPerPage
      this.displayedTasks = this.tasks.slice(startIndex, endIndex)
    },
    filterByUser(userId) {
      this.selectedUser = userId
      this.displayedTasks = this.tasks.filter((task) => task.created_by === userId)
    },
    isDeadlineExpired(deadline) {
      const currentDate = new Date()
      const taskDeadline = new Date(deadline)
      return taskDeadline < currentDate
    },
    addTask() {
      router.push('/createtasks')
    }
  }
}
</script>

<style scoped>
.task-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.task {
  border: 1px solid #ddd;
}

.pagination button {
  cursor: pointer;
}

.sidebar {
  border-right: 1px solid #ddd;
}

.sidebar li.selected {
  background-color: lightgreen;
}

.border-red-500 {
  border-color: red;
}
</style>
