<template>
  <div class="user-container">
    <h1 class="text-center font-semibold text-3xl text-black-600 mb-4">Пользователи</h1>
    <button
      @click="goToPut"
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mb-4"
    >
      Добавить пользователя
    </button>

    <div v-if="users.length">
      <div
        v-for="(user, index) in users"
        :key="index"
        class="user-item border border-gray-300 rounded-md p-4 mb-4"
      >
        <h3 class="text-xl font-semibold">{{ user.username }}</h3>
        <p>Email: {{ user.email }}</p>
        <p v-if="user.role_name !== null">Роль: {{ user.role_name }}</p>
        <p v-else>Роль: Загрузка...</p>
        <p>Дата рождения: {{ formatDate(user.birth_date) }}</p>
        <p>Должность: {{ user.position_name }}</p>
        <img
          class="imgg object-cover h-32 w-full rounded mt-4 mb-2"
          :src="getUserImageUrl(user.avatar_url)"
          alt="Аватар пользователя"
        />
        <button
          @click="showUserDetails(user.user_id)"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
          Подробнее
        </button>
      </div>
    </div>
    <div v-else>
      <p>Нет пользователей</p>
    </div>
  </div>
</template>

<script>
import api from '../api.js'

export default {
  data() {
    return {
      users: []
    }
  },
  mounted() {
    this.fetchUsers()
  },
  methods: {
    async fetchUsers() {
      try {
        const response = await api.get('/user')
        if (response.status === 200) {
          this.users = await this.addUserDetails(response.data)
        } else {
          throw new Error('Ошибка при получении списка пользователей')
        }
      } catch (error) {
        console.error('Ошибка при получении списка пользователей:', error)
      }
    },
    async addUserDetails(users) {
      return Promise.all(
        users.map(async (user) => {
          try {
            const roleResponse = await api.get(`/roles/${user.role_id}`)
            user.role_name = roleResponse.data.role_name || null
            const positionResponse = await api.get(`/positions/${user.position_id}`)
            user.position_name = positionResponse.data.position_name || null
          } catch (error) {
            console.error('Ошибка при получении информации о пользователе:', error)
          }
          return user
        })
      )
    },
    formatDate(dateString) {
      const date = new Date(dateString)
      const options = { day: '2-digit', month: 'long', year: 'numeric' }
      return date.toLocaleDateString('ru-RU', options)
    },
    getUserImageUrl(imageUrl) {
      return imageUrl ? api.getUri() + '/static/' + imageUrl : '../static/user.jpg'
    },
    goToPut() {
      this.$router.push('/createusers')
    },
    showUserDetails(user_id) {
      if (user_id) {
        this.$router.push({ name: 'UserDetail', params: { user_id: user_id } })
      } else {
        console.error('Ошибка: параметр user_id отсутствует или некорректен')
      }
    }
  }
}
</script>

<style scoped>
.imgg {
  height: 120px;
}
</style>
